#ammd-auth {
  margin: 1em;

  #providers {

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .am-provider {

      + .am-provider {
        margin-top: 8px;
      }

      height: 2em;
      padding: 2px 12px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      font-family: Roboto;
      font-size: 1em;
      font-weight: 400;

      color: #757575;

      border-radius: 4px;

      cursor: pointer;

      transition: 0.1s all ease-out;
      background: $content-bg;
      box-shadow: 0 2px 4px -2px rgba($shadow-mix, 0.34);

      svg {
        width: 18px;
        height: 18px;
        margin-right: 1em;
      }
    }
  }
}
