@mixin am-provider($name, $background) {
  &.am-provider--site-#{$name} {
    background: desaturate($background, 5%);
    box-shadow: 0 2px 8px -4px $background;

    &:hover {
      background: saturate($background, 20%);
    }
  }
}

#ammd-auth {
  margin: 1em;

  #providers {

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .am-provider {

      + .am-provider {
        margin-top: 0.8rem;
      }

      height: 2em;
      padding: 0.5rem 1.5rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      font-family: Roboto;
      font-size: 1.2em;
      font-weight: 400;

      color: #FFFFFF;

      border-radius: 4px;

      cursor: pointer;

      transition: 0.1s all linear;

      white-space: nowrap;

      svg {
        @include square(1.5rem);
        margin-right: 12px;
        fill: #FFFFFF;
      }

      @include am-provider("google", #F94A4E);
      @include am-provider("stackexchange", #255192);
      @include am-provider("github", #24292E);
    }
  }
}
