@mixin button-style($name, $bg, $fg) {
  .button.#{$name} {
    border: 1px solid $bg;
    background: $bg;
    color: $fg;
    path {
      fill: $fg;
    }

    border-bottom: 1px solid darken($bg, 5%);

    &, path {
      transition: 0.25s all ease-out;
    }

    &:hover {
      background: $fg;
      color: $bg;
      path {
        fill: $bg;
      }
    }
  }
}

.button {
  padding: 0.5em 1.5em;
  border-radius: 6px;
  box-sizing: border-box;
  white-space: nowrap;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0px -2px 4px rgba(210, 210, 210, 0.2);

  margin: 0;

  cursor: pointer;

  svg {
    height: 1em;
  }
  span, svg {
    vertical-align: middle;
  }

  &.-center { text-align: center; }

  // Adds a little space to the top
  &.-top-space { margin-top: 4px; }

  // Shrink everything for smaller places
  &.-small {
    font-size: 0.8rem;
    padding: 0.2rem;
    border-radius: 6px;
  }
}

button.button {
  font-size: inherit;
}

.button.-disabled {
  background: $disabled-btn;
  border: none;
  border-bottom: 1px solid $disabled-btn-border;
  cursor: inherit;

  color: white;

  &:hover {
    color: white;
    background: $disabled-btn;
  }
}

@include button-style('blue', #09F, white);
@include button-style('accent', $accent-color, white);
@include button-style('green', #2FCF8B, white);

.label-pair {
  svg {
    height: $font-size + 2px;
    margin-right: 2px;
  }

  display: flex;
  align-items: center;

  &.-target {
    color: $theme-color;
    fill: $theme-color;
    cursor: pointer;
  }
}
