.item-wrap {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > input, > button, > textarea {
    flex: 1;
  }

  input {
    box-sizing: border-box;
  }
  .button {
    font-size: 1rem;
  }

  &.item-wrap--nopad-vertical { padding-top: 0; padding-bottom: 0; }
  &.item-wrap--nopad-horizontal { padding-left: 0; padding-right: 0; }

  &.item-wrap--pad-left { padding-left: 2rem; }
  &.item-wrap--pad-right { padding-right: 2rem; }
  &.item-wrap--pad-top { padding-top: 2rem; }
  &.item-wrap--pad-bottom { padding-bottom: 2rem; }

  postion: relative;
  &.item-wrap--glow:focus::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    background: red;
  }
}

.group-stretch {
  min-height: 24rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-validation__error_list {
  list-style: none;
  padding: 0;
  margin: 4px 0;
  color: red;
}

// The thing that changes color depending on if a input's
// constraints are fullfilled
.constraint-state {
  margin-top: 2px;
  font-size: 0.8rem;
  white-space: nowrap;

  svg, img {
    vertical-align: middle;
    width: 1em;

    margin-right: 4px;
  }

  span {
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
    font-size: 1em;
    color: $description-text;
  }
}

.label-group {
  .label-group__tooltip {
    vertical-align: middle;

    height: 1.2em;
    color: inherit;
    fill: inherit;

    svg { height: inherit; }
  }

  &.label-group--style-clean {
    color: $label-text;
    fill: $label-text;
    font-weight: 400;
    text-transform: none;
  }

  color: $label-tag;
  fill: $label-tag;
  font-weight: bold;

  label {
    vertical-align: middle;
    display: block;

    color: inherit;
    font-size: 13px;
    font-weight: inherit;
    text-transform: inherit;

    margin-bottom: 4px;
  }
}

input.text-input, [contenteditable].text-input, .text-base.text-input, .text-input {
  font-size: 1rem;

  -webkit-appearance: none;
  border: none;
  outline: none;

  background: none;

  margin: 0;
  padding: 0 0 4px 0;

  // Support for mathquill
  &.mq-focused { box-shadow: none; }
  .mq-cursor { border-color: $editor-fg; }

  &.text-input--owned {
    border-bottom: none;
  }

  &.text-input--type-clean {
    font-size: 1.3rem;
    box-sizing: context-box;
  }

  // For search dialogs
  &.text-input--type-search {
    font-weight: 300;
    font-size: 1.5rem;
    color: $key-text;
  }

  // For URL inputs
  &.text-input--type-url {
    font-size: 13px;
    font-family: $monospace;
    color: $em-text;
  }

  &.text-input--type-title {
    font-size: 1.3rem;
    font-family: $bold-font;
    font-weight: $bold-weight;
    color: $em-text;

    box-sizing: content-box;
  }

  &.text-input--type-mail {
    font-size: 1.2rem;
    font-family: $monospace;
    color: $em-text;
    letter-spacing: 1px;

    box-sizing: content-box;
  }

  &.text-input--pad-all {
    padding: 4px;
  }

  &.text-input--pad-top {
    margin-top: 1.5rem;
  }

  &.text-input--size-wide {
    width: 100%;
  }

  color: $em-text;
  border-bottom: 1px solid rgba($hover-mix, 0.15);

  &:focus {
    border-bottom-color: mix($accent-color, mix($label-tag, $hover-mix, 90%), 15%);
  }
}

// For a text input containing annotations
.text-input__list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  input {
    flex: 1;
  }
}

// Main style for <textarea>
.text-base {
  background: $editor-bg;
  color: $editor-fg;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  border: none;

  border-radius: 0;

  position: relative;
}

textarea.text-base {
  background: $code-block-bg;
}

// Styles all items in a textinput as a single item
.input-list-item {
  background: rgba($hover-mix, 0.3);
  display: inline-block;

  color: white;

  padding: 4px 8px;
  border-radius: 4px;

  font-size: .8rem;
  font-weight: 300;
  vertical-align: middle;
  white-space: nowrap;

  color: #FFF;
  fill: #FFF;

  svg, img {
    cursor: pointer;
    margin-top: -1px;
    margin-left: 4px;
    padding: 2px;

    border-radius: 50%;
    height: 0.6rem;

    vertical-align: middle;

    background: rgba($hover-mix, 0.1);
  }

  margin-right: 4px;
}

// For live foreign previews
.preview-wrap {
  a {
    text-transform: none;
    color: $accent-color;
    font-weight: 400;
    padding-left: 4px;

    &::before {
      content: '\002014';
      color: rgba($hover-mix, 0.2);
      font-weight: 300;
      margin-right: 4px;
    }
  }
}

@import "file.scss";
@import "rcgroup.scss";
