.lang-box {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 1rem;

  .lang-box__logo {
    @include square(1.3rem);
    margin-right: 8px;

    img, svg { @include square(100%); }
  }

  .lang-box__info { flex: 1; }
  .lang-box__name {
    font-size: 1rem;
    color: $title-text;
    font-family: $bold-font;
    font-weight: 600;
  }

  .lang-box__close {
    @include square(1.4rem);
    line-height: 0.8;

    box-sizing: border-box;
    padding: 4px;
    border-radius: 50%;

    background: mix($content-bg, $hover-mix, 70%);
    cursor: pointer;
  }

  &.lang-box--fixed {
    background: $content-bg;
    box-shadow: 0px 4px 24px -12px rgba($shadow-mix, 0.3), 0 4px 32px -8px rgba($shadow-mix, 0.15);
    border-radius: 6px;

    box-sizing: border-box;
    height: $language-picker-size;
  }
}
