.modal-view__dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    // Animated using JS
    @supports (-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(16px)) {
        background: rgba($shadow-mix, 0.1);
    }

    background: rgba($shadow-mix, 0.5);
}


.modal-view {
    border-radius: 16px;
    background: $content-bg;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .1);

    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    max-width: 90%;
    max-height: 90%;

    padding: 1rem;

    &__header {
        display: flex;
    }
}
