.modal-view {
    border-radius: 16px;
    background: $content-bg;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .1);

    padding: 1rem;

    &__header {
        display: flex;
    }
}
