.modal-view__dim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;

    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.5);
}


.modal-view {
    border-radius: 16px;
    background: $content-bg;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .1);

    padding: 1rem;

    &__header {
        display: flex;
    }
}
