a {
  cursor: pointer;
  text-decoration: none;

  &.title {
    color: $title-text;
    font-family: $bold-font;
    font-weight: $bold-weight;
  }
}

.more {
  color: $theme-color;

  svg {
    height: 1em;
    margin: 0 0 -2px -4px;
    fill: $theme-color;
  }
}

b, strong {
  font-family: $bold-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-text;
  font-weight: 500;
  font-family: $bold-font;
  margin: 0;
  display: inline-block;

  &.header--style-icon {
    svg, img {
      vertical-align: middle;
      height: 1.5em;
      margin-top: -4px;
      margin-right: 8px;
    }
  }

  &.header--style-caption {
    color: $subtitle-text;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  &.header--style-dim {
    color: rgba($hover-mix, 0.3);
  }

  &.header--accent-line {
    position: relative;

    &::before {
      $accent-line-height: 3px;

      position: absolute;
      content: "";
      display: block;
      left: 0;
      bottom: -2px - $accent-line-height;
      height: $accent-line-height;
      width: $accent-line-height / 1px * 1rem;
      border-radius: $accent-line-height / 2;
      background: $accent-color;
    }
  }

  a {
    color: inherit;
  }
}

h1 {
  font-size: 2.5rem;
}

h2, h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4em;
  font-weight: 500;
  font-family: $bold-font;
}

h5 {
  font-weight: 300;
  font-size: 1.4em;
  font-family: $light-font;
}

span.label {
  font-size: 1rem;
}

pre.hljs, .body pre {
  font-family: $monospace;
  font-size: 15px;
  line-height: 1.3;

  color: $code-block-fg;

  box-shadow: 0 4px 16px -8px rgba($shadow-mix, 0.5);

  background: $code-block-bg;
  padding: 0;
  box-sizing: border-box;
  border-radius: 8px;
  border-left: 8px solid $code-block-indent;

  code {
    padding: 1rem 1.5rem;
    display: block;
    overflow-x: auto;
    font-family: inherit;
  }
}

hr {
  &.big {
    border: none;
    border-top: 1px solid $content-border-color;
    margin: 3em 0;
  }
}

.icon-pair {
  &.-active {
    &, a { color: #009DFA; }
    &, svg { fill: #009DFA; }
  }

  &.-center {
    text-align: center;
  }

  $pair-size: 1rem;

  svg {
    height: $pair-size;
    margin-right: 4px;
  }

  span {
    font-size: $pair-size;
  }
}

.body {
  color: $main-text;
  font-size: 1.2rem;

  @import "body.scss";
}
