.privacy-body {
    h3 {
        margin-top: 2rem;
    }
}

.privacy-column__wrapper {
    display: flex;
    flex-wrap: wrap;

    .privacy-column {
        width: 50%;
        @media (max-width: 650px) {
            width: 100%;
        }
    }
}

.privacy-column {
    list-style: none;
    margin-top: 0;
    padding: 0;

    li:not(.privacy-column__nostyle) {
        font-size: 1rem;
        position: relative;

        &::before {
            content: "";
            font-size: 1em;

            vertical-align: middle;
            display: inline-block;

            margin-right: 4px;

            height: 1em;
            width: 1em;
        }

        line-height: 1.2;
        margin-bottom: 4px;

        padding-left: 24px;
    }

    strong { font-weight: 400; }
    h4 { margin-top: 1rem; }

    @mixin privacy-column-type($name, $image, $color) {
        &.privacy-column--type-#{$name} li {
            &::before { background: url(/static/img/#{$image}.svg); }
            strong { color: $color; }
        }
    }

    @include privacy-column-type('positive', 'check', #4CA056)
    @include privacy-column-type('negative', 'cross', #EC4544)
}
