@mixin axtell-placeholder($name, $bg, $fg) {
    .ace_axtell-placeholder--type-#{$name} {
        position: relative;

        &::before {
            content: to-upper-case($name);

            position: absolute;
            left: 0;
            right: 0;
            text-align: center;

            border-radius: 3px;

            font-family: $bold-font;
            font-weight: $bold-weight;

            background: $bg;
            color: $fg;
        }
    }
}

@include axtell-placeholder("code", linear-gradient(#EB5538, #DC5034), #FFFFFF);
