.userbox__container {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;


  // The left part where we stuff the avatar
  .userbox__avatar_container {
    margin-right: 12px;
    position: relative;

    $userbox-avatar-size: 2em;
    @include square($userbox-avatar-size);

    img {
      @include square(inherit);
      border-radius: 50%;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;

        $userbox-avatar-icon-size: 1.2em;
        @include square($userbox-avatar-icon-size);
        background: url(/static/img/author-indicator.svg);
        background-repeat: no-repeat;

        // I don't know why this works but it does so don't touch it

        // sin(pi/4) = cos(pi/4) =
        $sin45: 0.7071067812;
        $radius1: $userbox-avatar-size/2;
        $radius2: $userbox-avatar-icon-size/2;
        // r(cis(theta))
        // r = (d/2) - (l/2)
        $offset: ($radius1 - $radius2) * $sin45;
        bottom: $offset - $radius2;
        right: $offset - $radius2;
    }
  }

  .userbox__details_container {
    .userbox__details_row {
      display: block;
      font-size: 1em;
      line-height: 1;

      display: block;
    }

    .userbox__dim_row {
      color: $dim-text;
      font-size: 0.8em;
      line-height: 0.8;
    }
  }

  .userbox__author {
    color: $accent-color;
  }
}
