@import "variables-shared.scss";

// Colors
$theme-color: #09F;
$logo-color: #FFF;
$accent-color: $theme-color;

// Font colors
$em-text: mix($theme-color, mix(#FFF, #000, 15%), 13%);
$main-text: mix($theme-color, mix(#FFF, #000, 20%), 30%);
$label-text: #676767;
$label-tag: #BBB;
$dim-text: #999;
$subtitle-text: #878787;
$title-text: #555;

$hover-mix: #000;
$hover-source: #FFF;

// Text editing colors
$editor-bg: transparent;
$editor-fg: #333;
$editor-border: #EEE;

// MARKDOWN COLORS
$link-color: #d6dae1;
$blockquote-marker: #FEEA94;
$blockquote-fg: #000;

// Button colors
$disabled-btn: #CCC;
$disabled-btn-border: #AAA;

// Depth colors
$popover-bg: #FFF;
$popover-border: #EEE;
$popover-shadow: #CCC;

// Code block colors
$code-block-bg: #fafafa;
$code-block-fg: #000;
$code-block-indent: #ededed;

// BGs
$main-bg: #F4F8F9;
$content-bg: #FFF;
$dim-bg: #ECECEC;

// Seperators
$content-border-color: #EEE;
$subcontent-border-color: rgba(0, 0, 0, 0.1);

$pagination-seperator: #CCC;

// Avatar colors
$avatar-mini-color: #EEE;

// Header colors
$header-shadow-color: #EEE;
$header-bg: #25BCD4;
$header-em-text: rgba(255, 255, 255, 0.8);

$big-select: $theme-color;
$big-fg: rgba(255, 255, 255, 0.8);
$big-bg: rgba(0, 0, 0, 0.1);
$big-link: #327ef3;

$close-button: #AAA;

// Comments
$comment-wrapper-top-style: dotted #EEE;

// Header
$header-selected-bg: rgba(#FFF, 0.1);
$header-selected-border: rgba(255, 255, 255, 0.3);
$header-selected-text: #FFF;
