.voting-wrapper {
  display: inline-block;
}

.vote-button {
  @include action-button-type("upvote", #2FCF8B);
  @include action-button-type("downvote", #E03830);

  .vote-count {
    font-size: 16px;
    margin-right: 6px;
    font-weight: 300;
    color: inherit;
  }
}
