.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
}

.post-item {
  background: $content-bg;
  margin-bottom: 1.5rem;

  $post-item-shadow-length: 8px;
  box-shadow: 0 $post-item-shadow-length/4 $post-item-shadow-length (-$post-item-shadow-length/4) rgba($hover-mix, 0.2);
  border-radius: $post-item-shadow-length;

  padding: 1rem;

  // Avatar on the left
  .post-item__avatar {
    @include square(2em);
    border-radius: 50%;

    // Add some offset so aligned between lines
    margin-top: 0.5em;
  }

  .post-item__section {
    &.post-item__section--pad-top { padding-top: 0.5rem; }
    &.post-item__section--pad-bottom { padding-bottom: 0.5rem; }
  }

  // The preview text
  .post-item__description { /* nothing for now */ }

  .post-item__caption {
    font-size: 0.9rem;
    color: $dim-text;
  }

  .post-item__title {
    display: block;

    // Matches the color
    color: $big-link;
  }
}

.post-item__split_container {
  display: flex;
  flex-direction: row;

  .post-item__split {
    &.post-item__split--size-wide { flex: 1; }
    &.post-item__split--pad-left { padding-left: 12px; }
    &.post-item__split--pad-right { padding-right: 12px; }
  }
}
