.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
}

.post-item {
  background: $content-bg;
  margin-bottom: 1.5rem;

  $post-item-shadow-length: 8px;
  box-shadow: 0 $post-item-shadow-length/2 $post-item-shadow-length (-$post-item-shadow-length/2) rgba($shadow-mix, 0.2);
  border-radius: $post-item-shadow-length;

  padding: 1rem;

  // Avatar on the left
  .post-item__avatar {
    @include square(2em);
    border-radius: 50%;

    // Add some offset so aligned between lines
    margin-top: 0.5em;
  }

  .post-item__section {
    &.post-item__section--pad-top { margin-top: 0.14em; }
    &.post-item__section--pad-bottom { margin-bottom: 0.14rem; }
  }

  // The preview text
  .post-item__description {
    padding: 0.25em 0;
    margin: 0;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
    color: $description-text;
  }

  .post-item__caption {
    font-size: 0.9rem;
    color: $detail-text;
  }

  .post-item__title {
    display: block;

    // Matches the color
    color: $big-link;
  }

  // Metrics list of views, etc.
  .post-item__metrics {
    list-style: none;
    padding: 0;

    &.post-item__metrics--style-inactive .post-item__metric {
      svg, path {
        fill: $detail-text;
      }

      // svg, img {
      //   @include square(1em);
      // }
    }

    .post-item__metric {
      display: inline-block;
      font-size: 1rem;

      margin-right: 16px;

      svg, img {
        margin-right: 4px;
        vertical-align: middle;
        @include square(1em);
      }

      // The progress bar
      .post-item__metric__bar  {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;

        $post-item__metric__bar--height: 4px;
        height: $post-item__metric__bar--height;
        border-radius: $post-item__metric__bar--height / 2;
        width: 130px;
        max-width: 100%;
        padding: 1px;
        background: rgba($hover-mix, 0.1);

        > div {
          border-radius: $post-item__metric__bar--height / 2;
          height: 100%;
        }
      }

      // Numeric value
      .post-item__metric__value {
        color: $detail-text;
        font-size: 1em;
        vertical-align: middle;
      }

      .post-item__metric__unit {
        color: $key-text;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 0.5em;
      }

      .post-item__metric__stack {
        display: inline-block;
        vertical-align: middle;

        .post-item__metric__unit { display: block; }
      }
    }
  }
}

.post-item__split_container {
  display: flex;
  flex-direction: row;

  &.post-item__split_container--wrap {
    flex-wrap: wrap;
  }

  &.post-item__split_container--responsive {
    align-items: center;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      > .post-item__split + .post-item__split {
        margin-left: 2.75rem;
      }
    }
  }

  > .post-item__split {
    &.post-item__split--size-wide { flex: 1; }
    &.post-item__split--pad-left { padding-left: 12px; }
    &.post-item__split--pad-right { padding-right: 12px; }
  }
}
