{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["safari > 10", "last 2 Chrome versions"]
      },
      "useBuiltIns": "entry",
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-syntax-jsx",
    ["babel-plugin-jsx-to-dom", {
      "noWhitespaceOnly": true
    }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-optional-catch-binding",
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module:babel-7-plugin-root-import", {
      "paths": [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "js/"
        },
        {
          "rootPathPrefix": "#",
          "rootPathSuffix": "misc/"
        }
      ]
    }],
    "babel-plugin-wildcard",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-function-bind"
  ]
}
