{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "modules": false,
      "corejs": 3
    }]
  ],

  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "babel-plugin-syntax-jsx",
    "@babel/plugin-proposal-do-expressions",
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    "babel-plugin-wildcard",
    ["module:babel-7-plugin-root-import", {
      "paths": [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "js/"
        },
        {
          "rootPathPrefix": "#",
          "rootPathSuffix": "misc/"
        }
      ]
    }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-function-bind"
  ]
}
