# .coveragerc to control coverage.py
[run]
branch = True
# we only care about coverage on the actual app
source = app
omit =
# coverage on routes is inaccurate, because of how Flask-Testing works
    app/route/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if self\.debug
    if config\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

fail_under = 80
