.response-list {
  margin: 0;
  padding: 1rem;
}

.response-empty {
  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: auto;

  $lang-height: 1.2rem;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: $lang-height;
      margin-right: 1rem;
    }

    h4 {
      font-size: $lang-height;
      flex: 1;
    }

    .answer-metric {
      font-size: $lang-height;

      span {
        padding-left: 2px;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $label-text;
      }
    }
  }
}
