#answer-box {
  z-index: 20;
  padding: 1rem;

  position: relative;

  max-height: $max-lower-height;
  overflow-y: auto;

  background: $popover-bg;

  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  box-shadow: 0 -1px 8px $header-shadow-color;
  border-top: 1px solid $popover-border;

  .list-header { align-items: center; }

  .answer-form {

  }
}
