#changelog__trigger, .changelog {
    // So not too big (avoids wrap on mobile)
    font-size: 0.85rem;

    #beamerIcon.active, .beamer_icon.active {
        display: none;
    }
}

// Little red indicator
#changelog__count {
    $cl-count-size: 13px;
    color: white;
    font-size: $cl-count-size - 1px;
    text-align: center;
    color: $header-bg;

    $cl-count-padding: 4px;

    border-radius: $cl-count-size / 2;
    height: $cl-count-size;
    min-width: $cl-count-size - $cl-count-padding * 2;
    padding: 0 $cl-count-padding;

    line-height: 1;

    background: rgba(255, 255, 255, 0.8);
    display: none;
}
