$nav-border-width: 3px;
$nav-padding: 1em;

#header {
  z-index: 1;

  display: flex;
  justify-content: center;

  background: $header-bg;

  box-shadow: 0 2px 8px -1px rgba($shadow-mix, 0.3);

  &.header--transparent {
    box-shadow: none;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .section {
      @include expand;
    }

    $h-target-time: 0.1s;

    .expand {
      margin: 0;
      flex: 1;
    }

    @import "header/nav.scss";
    @import "header/useroverview.scss";
    @import "header/authmanager.scss";

    .r-reveal {
      display: none;
    }

    #r-close {
      display: none;
    }

    @media screen and (max-width: $sidebar-collapse) {
      .r-collapse {
        display: none;
      }

      .r-reveal {
        display: block
      }

      // Special behavior for the user dropdown
      // in this case we'll only show avatar
      .useroverview-root {
        // Make smaller horizontally
        .useroverview {
          padding: 0 4px;
        }

        img {
          height: 1.2rem;
        }

        // Readjust the box
        #useroverview-info {
          position: fixed;
          left: 8px;
          right: 8px;
          top: 3rem;

          // Hide the arrow
          &:before { content: none; }
        }
      }

      .section {
        margin-right: 0;
      }

      #r-pop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > div {
          padding: 1em
        }
        svg {
          stroke: rgba(255, 255, 255, 0.8);
        }
      }

      // For responsive active state (popup opened)
      &.active {
        // Modal
        #r-cover {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
        }

        #r-close {
          height: 2rem;
          width: 2rem;
          right: 8px;
          top: 8px;

          display: block;
          position: fixed;
          z-index: 2;

          fill: white;
        }

        // Reorganize nav links to appear on-top
        #nav-links {
          display: flex;
          z-index: 1;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          ul {
            flex-direction: column;
            justify-content: center;

            li {
              transition: none;

              &:hover {
                background: transparent;
              }

              &.selected a {
                border-bottom: none;
                background: rgba($theme-color, .3)
              }

              a {
                $popover-nav-fg: #FFF;

                padding: 8px 1em;;
                font-size: 1.5rem;

                fill: $popover-nav-fg;
                color: $popover-nav-fg;
              }
            }
          }
        }
      }
    }

    .button-section {
      $button-padding: 1em;
      @include fit;
      @include center-v-block;

      box-sizing: border-box;
      padding: 0 $button-padding;
    }

    // A nav item with icon, button pairs
    .section--pair {
      display: flex;

      cursor: pointer;

      font-size: 1rem;

      &--responsive-title {
        @media (max-width: $sidebar-collapse) {
          svg, img { margin-right: 0 !important; }
          span { display: none; }
        }
      }

      &.selected a {
        fill: $header-selected-text;
        color: $header-selected-text;
        background: $header-selected-bg;
        padding-bottom: 0;
        border-bottom: $nav-border-width solid $header-selected-border;
      }

      a {
        @include center-v-block;
        @include icon-link;

        flex: 1;

        padding: $nav-border-width $nav-padding;
        text-decoration: none;
        color: $big-fg;
        fill: $big-fg;
      }
    }

    .section--hover-em {
      transition: $h-target-time ease-in background;
      &:hover, &.state-active {
        background: $big-bg;
      }
    }

    // Primary Axis center
    .section--block-v {
      @include center-v-block;
    }

    // Secondary Axis Center
    .section--block-h {
      @include center-h-block;
    }

    h1 {
      color: $logo-color;
      font-size: 1.5em;
      padding: 0.6em;
      white-space: nowrap
    }
  }
}

@import "changelog.scss";
