.useroverview-root {
  position: relative;
  margin-right: 0;
}

.useroverview {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1em;

  position: relative;

  color: $header-em-text;

  img {
    height: 1.8rem;
    border-radius: 50%;
    margin-right: 8px;
  }

  .action {
    margin-left: 8px;
    font-size: 8px;
    color: #DDD;
  }
}
