<ul>
    <li class="action">
        {% if session['dark_theme'] == true -%}
        <form method="POST" action="{{ url_for('set_light_theme') }}?redirect={{ request.url|e }}">
        {%- else -%}
        <form method="POST" action="{{ url_for('set_dark_theme') }}?redirect={{ request.url|e }}">
        {%- endif %}
            <button type="submit">
                {% include "svg/brush.html" %}<span>{% if session['dark_theme'] == true -%}
                Light Theme
                {%- else -%}
                Dark Theme
                {%- endif %}</span>
            </button>
        </form>
    </li>
    <li class="action">
        <form method="POST" action="{{ url_for('auth_logout') }}?redirect={{ request.url|e }}">
            <button type="submit">
                {% include "svg/logout.html" %}<span>Logout</span>
            </button>
        </form>
    </li>
</ul>
