h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 1.5em 0 0.75em;

  &.header--nomargin-top {
    margin-top: 0;
  }
}

h1 {
  font: {
    family: $bold-font;
    weight: bold;
    size: 1.4em;
  };
}

h2, h3 {
  font-size: 1.27em;
}

h4 {
  font-weight: 400;
}
