<!DOCTYPE html>
<html lang="en" class="axtell" {{ html_attributes | default('') | safe }}>
<head>
    {% block head -%}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta property="og:site_name" content="Axtell">
        <meta name="twitter:title" property="og:title" content="{{ self.title() }}">

        <meta property="twitter:domain" content="{{ opts.canonical_host }}">

        <title>{% block title %}{% endblock %} - Axtell</title>
    {%- endblock %}
</head>
<body>
{% block body -%}
{%- endblock %}
</body>
</html>
