{% extends "layouts/layout.html" %}
{% from "includes/header.html" import header %}

{% set data_id = macros.rand_key() %}
{% macro data(name, value) -%}
<script>var {{ data_id }}{{name}}={{ macros.json_to_str(value) | safe }};</script>
{%- endmacro %}

{% macro data_value(name, value) -%}
<script>var {{ data_id }}{{name}}={{ value }};</script>
{%- endmacro %}

{% set theme = session.get('theme', 'light') %}

{%- block head -%}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css"
          crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" crossorigin="anonymous"></script>
    <script>function d(t){var a=document.currentScript,u=moment.utc(t),n=document.createElement('time');n.title=u.toString();n.dateTime=u.toISOString()+'Z';n.appendChild(document.createTextNode(u.fromNow()));a.parentNode.replaceChild(n,a)}d</script>

    {% if g.user is none -%}
        <script src="https://apis.google.com/js/api:client.js"></script>
    {%- endif %}

    {% if opts.auth['google'].get('analytics-id', '') not in ['GOOGLE_ANALYTICS_CLIENT_ID', ''] -%}
    {% set analytics_id = opts.auth['google']['analytics-id'] %}
    <script src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_id }}');
    </script>
    {%- endif %}

    <link rel=stylesheet type=text/css href="/static/css/all-{{ theme }}.css?v={{ macros.get_version_id() }}">
    {{ data("theme", theme) }}

    {%- if opts.auth['bugsnag'].get('frontend', '') not in ['BUGSNAG_FRONTEND_API_KEY', ''] -%}
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
    {%- endif -%}

    <meta name="data_id" content="{{ data_id }}">
    {{ data("env", macros.json_to_b64({
        'ALGOLIA_APP_ID': opts.auth['algolia']['app-id'],
        'ALGOLIA_SEARCH_KEY': opts.auth['algolia']['search-key'],
        'BUGSNAG': opts.auth['bugsnag'].get('frontend', ''),
        'HOST': opts.canonical_host,
        'CSRF': macros.get_csrf(),
        'COMMENT_COUNT': opts.comments['show_amt'],
        'COMMENT_NEST_COUNT': opts.comments['nest_amt'],
        'GAPI_KEY': opts.auth['google']['client-id'],
        'IMGUR_CLIENT_ID': opts.auth['imgur']['client-id'],
        'INDEX_PREFIX': opts.auth['algolia']['prefix'],
        'IS_DEBUG': is_debug,
        'MAX_USERNAME_LENGTH': opts.users['max_name_len'],
        'MIN_USERNAME_LENGTH': opts.users['min_name_len'],
        'MAX_COMMENT_LENGTH': opts.comments['max_len'],
        'MIN_COMMENT_LENGTH': opts.comments['min_len'],
        'OAUTH_CALLBACK': opts.canonical_host + url_for('auth_login_oauth'),
        'POST_BODY_MAX': opts.posts['max_len'],
        'POST_BODY_MIN': opts.posts['min_len'],
        'POST_TITLE_MAX': opts.posts['max_title'],
        'POST_TITLE_MIN': opts.posts['min_title'],
        'SE_CLIENT_ID': opts.oauth['se']['client-id'],
        'SE_KEY': opts.oauth['se']['key'],
        'SOCKET_PORT': opts.app.port,
        'VERSION': macros.get_version_id(),
        'WEB_APN_ID': opts.notifications['web_apn_id']
    })) }}

    {%- if g.user is not none -%}
    {{ data("me", macros.json_to_b64(g.user.to_json())) }}
    {%- endif -%}

    <script async src="/static/lib/axtell.main.js?v={{ macros.get_version_id() }}"></script>
{%- endblock %}

{% block body -%}
    {{ super() }}
    <noscript id="ns-main">
        <span>Axtell works best with JavaScript enabled.</span>
    </noscript>
    <!--[if IE]>
    <div id="upgrade">
        <div class="upgrade-wrapper">
            <div><h1>Your browser is not supported</h1></div>
            <div><h3>The following browsers are officially supported:</h3></div>
            <div class="browser-list">
                <div class="col-ff">Firefox<span>&ge; 30</span></div>
                <div class="col-cr">Chrome<span>&ge; 35</span></div>
                <div class="col-sf">Safari<span>&ge; 10</span></div>
                <div class="col-ed">Edge<span>all</span></div>
            </div>
            <div id="upgrade-dismiss">
                <a onclick="document.body.removeChild(document.getElementById('upgrade'))">Continue Anyway</a>
            </div>
        </div>
    </div>
    <![endif]-->
    {% block header %}{{ header() }}{% endblock %}
    <div id="content">
        {% block base_content -%}
            <main class="content">{% block content %}{% endblock %}</main>
        {%- endblock %}
        <footer>
            {% block footer -%}
            <div class="footer content">
                <ul class="footer__section">
                    <li><h3>Resources</h3></li>
                    <li><a class="footer__inline footer__inline--hover" href="https://axtell.fider.io/">Feedback</a></li>
                    <li><a class="footer__inline footer__inline--hover" href="https://goo.gl/forms/rr7SuEYwjWSbG4Y63">Propose Language</a></li>
                </ul>

                <ul class="footer__section">
                    <li><h3>Help</h3></li>
                    <li><a class="footer__inline footer__inline--hover" href="{{ url_for('help') }}">Help Center</a></li>
                    <li><a class="footer__inline footer__inline--hover" href="{{ url_for('help_page', path='privacy') }}">Privacy</a></li>
                </ul>

                <ul class="footer__section">
                    <li><h3>Social</h3></li>
                    <li><a class="footer__inline footer__inline--hover" href="https://chat.stackexchange.com/rooms/68212/axtell">Chatroom</a></li>
                </ul>

                <ul class="footer__section">
                    <li><h3>Development</h3></li>
                    <li><a class="footer__inline footer__inline--hover" href="https://github.com/Axtell/Axtell">GitHub</a></li>
                    <li><a class="footer__inline footer__inline--hover" href="https://github.com/Axtell/Axtell/issues/new?labels=bug">Report Bug</a></li>
                </ul>

                <a class="footer__stretch"></a>

                <a class="footer__section--isolated footer__inline footer__inline--hover" href="https://github.com/Axtell/Axtell">{% include "svg/github.html" %}</a>
            </div>

            <div class="footer content footer--secondary">
                <span class="footer__inline footer__inline--weight-light footer__inline--size-small footer__inline--color-light">&copy; 2018 Axtell</span>
                <ul class="footer__section--inline">
                    <li><a class="footer__inline footer__inline--img-small footer__inline--hover" href="https://github.com/Axtell/Axtell">{% include "svg/github.html" %}</a></li>
                    <li><a class="footer__inline footer__inline--img-small footer__inline--hover" href="https://chat.stackexchange.com/rooms/68212/axtell">{% include "svg/stackexchange-bare.html" %}</a></li>
                </ul>
                <span class="footer__stretch"></span>
                <span class="footer__inline footer__inline--weight-light footer__inline--size-small footer__inline--color-light">Axtell is licensed under <a class="footer__inline footer__inline--weight-light footer__inline--color-dark footer__inline--size-small" href="https://github.com/Axtell/Axtell/blob/master/LICENSE">MIT</a>.</span>
            </div>
            {%- endblock %}
        </footer>
    </div>

    <!-- Render Blocking Resources  -->
    {%- include "includes/beamer.html" -%}
    {%- if theme == 'dark' -%}
        <link type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/tomorrow-night-eighties.min.css"
              rel="stylesheet"
              crossorigin="anonymous">
    {%- else -%}
        <link type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/tomorrow.min.css"
              rel="stylesheet"
              crossorigin="anonymous">
    {%- endif -%}
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@2.5.2/dist/themes/light.css" crossorigin="anonymous" />
{%- endblock -%}
