{% extends "layouts/layout.html" %}

{% block head -%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono&amp;subset=greek,latin-ext" rel="stylesheet">
    
    {% if g.user is none -%}
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript">window.config={
        pv_gid: "{{ opts.auth['google']['client-id'] }}"
    };</script>
    {%- endif %}
    
    {% assets "css_all" -%}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {%- endassets %}
    
    {% assets "js_all" -%}
    <script async src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{%- endblock %}

{% block body %}
    {{ super() }}
    <noscript id="ns-main">
        <span>Code Golf works best with JavaScript enabled.</span>
    </noscript>
    {% include "includes/header.html" %}
    <div id="content">
        {% block base_content -%}
        <div class="content">{% block content %}{% endblock %}</div>
        {%- endblock %}
    </div>
{% endblock %}
