.content-split {
  @include fit;
  @include full;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  #cs-main {
    align-self: flex-start; // Makes this grow with the main content.
    width: 0px; // Prevents expansion of parent
    flex: 1;

    @import "post/post.scss";
  }

  #cs-aside {
    @import "page/sidebar.scss";
  }
}
