.content-split {
  @include fit;
  @include full;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  > main {
    align-self: start;

    width: 0px; // Prevents expansion of parent
    flex: 1;

    @import "post/post.scss";
  }

  > aside {
    @import "page/sidebar.scss";
  }
}
