.content-split {
  @include fit;
  @include full;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  #cs-main {
    flex: 1;

    @import "post/post.scss";
  }

  #cs-aside {
    @import "page/sidebar.scss";
  }
}
