.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  > li {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:not(:last-child) {
      margin-bottom: 1em;
      border-bottom: 1px solid $subcontent-border-color;
    }

    .summary {
      p {
        word-break: break-word;
        margin: 0.5rem 0;
      }
      color: $label-text;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.3;
    }
  }
}
