.sidebar {
    border-left: 1px solid $content-border-color;
    padding: 2em 1em;
    height: 100%;
    box-sizing: border-box;
    color: $em-text;
}

.sc {
  font-family: Roboto;
  font-weight: 300;
}
