.sidebar {
  border-left: 1px solid $content-border-color;
  padding: 2em 1em;
  height: 100%;
  box-sizing: border-box;
  color: $em-text;
}

.sc {
  font-family: Roboto;
  font-weight: 300;
}

.content-sidebar {
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .csb-section {
    margin-top: 1rem;
  }
}
