$index-background-type: #000;
$index-fg-type: #FFF;

.index-list {
  margin: 2rem;

  padding: 1rem 2rem;
  box-sizing: border-box;
  background: rgba($index-fg-type, 0.96);

  box-shadow: $wrapper-shadow;
  border-radius: 8px;

  list-style: none;

  max-width: 630px;
  padding: 1rem 2em;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    h4 {
      font-family: $light-font;
      font-weight: 300;

      color: rgba($index-background-type, 0.9);
    }

    > i {
      margin-right: 1.5rem;

      > svg {
        fill: $theme-color;
        width: 3rem;
        height: 3rem;
      }
    }

    strong {
      color: $theme-color;
    }

    p {
      color: rgba($index-background-type, 0.6);
      font-size: 15px;
      font-weight: 300;
      margin: 8px 0;
    }

    + li {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $subcontent-border-color;
    }
  }
}
