{% extends "layouts/page.html" %}

{% block title %}Duplicate Users{% endblock %}
{% block content %}
    <div class="duplicate-users">
        <table class="duplicate-users__table">
            <thead>
                <tr>
                    <th class="duplicate-users__th">IP Address</th>
                    <th class="duplicate-users__th">Users</th>
                </tr>
            </thead>
            <tbody>
                {% for datum in users_data %}
                    <tr>
                        <td class="duplicate-users__td">{{ datum.ip }}</td>
                        <td class="duplicate-users__td">
                            {% for user in datum.users %}
                            <a href='/users/data/{{ user.id }}'>{{ user.name }}</a><br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
