.list-header {
  // border-bottom: 1px solid $content-border-color;
  padding: 0 1rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  min-height: 2.5rem;

  flex: 0 0 auto;

  svg, img {
    fill: currentColor;
    vertical-align: middle;
    height: 1em;
  }

  h1, h2 {
    vertical-align: middle;

    flex: 1;
    font-family: $bold-font;
    font-weight: $bold-weight;

    &.tight {
      flex: 0;
    }
  }

  > * {
    display: block;

    &.list-header__item--actionable { cursor: pointer; }

    &.list-header__item--align-top { align-self: flex-start; }
    &.list-header__item--align-center { align-self: center; }

    &.list-header__item--size-double { @include square(1.3rem); }

    &.list-header__item--pad-left { margin-left: 1rem; }
    &.list-header__item--pad-right { margin-right: 1rem; }
    &.list-header__item--pad-top { margin-top: 1rem; }
    &.list-header__item--pad-bottom { margin-bottom: 1rem; }
  }

  &.list-header--style-caption {
    min-width: 290px; // < 300px to fit on 320px mobile device
    width: 35%;
    max-width: 100%;
    min-height: 0;

    &.list-header__caption-size--wide {
      min-width: 0;
      width: 100%;
    }
  }

  &.list-header--nopad-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }

  // A list (i.e. flex)
  .sub-lst {
    display: flex;
  }
}
