.list-header {
  // border-bottom: 1px solid $content-border-color;
  padding: 0 1rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  min-height: 2.5rem;

  flex: 0 0 auto;

  svg, img {
    fill: $em-text;
    vertical-align: middle;
    height: 1em;
  }

  h1, h2 {
    vertical-align: middle;

    flex: 1;
    font-family: $bold-font;
    font-weight: $bold-weight;

    &.tight {
      flex: 0;
    }

    span.dim {
      color: rgba($hover-mix, 0.3);
    }
  }

  > * {
    display: block;
  }

  &.list-header--style-caption {
    min-width: 300px;
    width: 35%;
    max-width: 100%;
    min-height: 0;

    &.list-header__caption-size--wide {
      min-width: 0;
      width: 100%;
    }
  }

  &.list-header--nopad-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }

  // A list (i.e. flex)
  .sub-lst {
    display: flex;
  }
}
