<div id="answer-box" class="template">
    <div class="list-header">
        <h2>Create Submission</h2>
        <a id="answer-close" class="label-pair -target">{% include "svg/close.html" %} Close</a>
    </div>
    <div class="answer-form">
        <form method="POST" action="/answer/public" id="answer-source">
            <input type="hidden" name="post_id" value="{{ post.id|e }}"/>

            <div class="item-wrap label-group">
                <label for="answer-lang">Language Name</label>
                <div id="lang-input" class="text-base lang-manager">
                    <input autocomplete="off" type="text" id="answer-lang" name="answer-lang" class="text-input expand -owned -title">
                </div>
                <input type="hidden" id="lang-id" name="lang_id"/>
                <input type="hidden" id="lang-name" name="lang_name"/>
            </div>

            <div id="code-container" class="item-wrap label-group">
                <label for="code">Code</label>
                <textarea name="code" id="code" class="text-base stretch-item"></textarea>
            </div>

            <div class="item-wrap">
                <button type="submit" class="button accent">Post</button>
            </div>
        </form>
    </div>
</div>
