{% from "includes/time.html" import time as time_elem %}
{% macro userbox(user, time, classes="") -%}
<a class="userbox__container userbox--trigger-author {{ classes }}"
   href="{{ url_for('get_user', user_id=user.id, name=user.name) }}"
   data-userid="{{ user.id }}">
    <span class="userbox__avatar_container">
        <img src="{{ user.avatar_url() }}"/>
    </span>
    <div class="userbox__details_container">
        <span class="userbox__details_row userbox__author">{{ user.name }}</span>
        <span class="userbox__dim_row">
            {{ time_elem(time) }}
        </span>
    </div>
</a>
{%- endmacro %}
