{% extends "layouts/page.html" %}

{% block title %}Profile Settings{% endblock %}
{% block content -%}
<form method="POST" action="{{ url_for('set_profile_preferences') }}" id="sf-profile">
    <div class="list-header">
        <h1>Profile</h1>
        <button type="submit" id="save-profile" class="button button--color-green button--align-center">
            {% include "svg/save.html" %}
            Save
        </button>
    </div>
    <div class="main">
        <div class="profile-split -highlight">
            <div class="left avatar-wrap">
                <div id="profile-avatar" class="avatar-control">
                    <img aria-label="Your avatar" alt="Your avatar" src="{{ g.user.avatar_url() }}">
                    <!-- <a>Change Avatar</a> -->
                </div>
            </div>
            <div class="right">
                <div class="item-wrap label-group rc-group">
                    <label for="display-name">Display Name</label>
                    <input type="text" id="display-name" name='name' class="text-input text-base -title submit-target" value='{{ g.user.name|e }}'>
                </div>

                <div class="item-wrap label-group rc-group">
                    <label for="user-email">Email</label>
                    <input type="email" id="user-email" name='email' class="text-input text-base -mail submit-target" value='{{ g.user.email|e }}'>
                </div>

                <div class="item-wrap label-group rc-group">
                    <label for="avatar-url">Avatar URL</label>
                    <input type="text" id="avatar-url" name='avatar-url' class="text-input text-base -mail submit-target" value='{{ g.user.avatar or "" }}'>
                </div>
            </div>
        </div>
    </div>
</form>
{%- endblock %}

{% block body %}
{{ data('settingsContext', g.request_start_time|int) }}
{{ data('profile', g.user.id) }}
{{ super() }}
{% endblock %}
