{% extends "layouts/page.html" %}

{% block title %}Profile Settings{% endblock %}
{% block content -%}
<form method="POST" action="{{ url_for('set_profile_preferences') }}" id="sf-profile" enctype="multipart/form-data">
    <div class="list-header">
        <h1>Profile</h1>
        <button type="submit" id="save-profile" class="button green -center">
            {% include "svg/save.html" %}
            Save
        </button>
    </div>
    <div class="main">
        <div class="profile-split -highlight">
            <div class="left avatar-wrap">
                <div id="profile-avatar" class="avatar-control">
                    <img aria-label="Your avatar" alt="Your avatar" src="{{ g.user.avatar_url()|e }}">
                </div>
            </div>
            <div class="right">
                <div class="item-wrap label-group rc-group">
                    {{ form.name.label }}
                    {{ form.name(size=max_name_len)|e }}
                </div>

                <div class="item-wrap label-group rc-group">
                    {{ form.email.label }}
                    {{ form.email|e or "" }}
                </div>

                <div class="item-wrap label-group rc-group">
                    {{ form.avatar_file.label }}
                    {{ form.avatar_file }}
                </div>

                <div class="item-wrap label-group rc-group">
                    {{ form.avatar.label }}
                    {{ form.avatar|e }}
                </div>
            </div>
        </div>
    </div>
    {{ form.hidden_tag() }}
</form>
{%- endblock %}

{% block body %}
{{ data('settingsContext', g.request_start_time|int) }}
{{ data('profile', g.user.id) }}
{{ super() }}
{% endblock %}
