.search-picker__container {
    position: relative;
    height: $search-picker-size;
}

.search-picker {
    position: absolute;
    left: 0;
    right: 0;

    // Position at bottom
    top: 100%;

    // Add some space
    margin-top: 4px;

    background: $content-bg;
    border-radius: 6px;

    box-shadow: 0 4px 16px -10px rgba(0, 0, 0, .3);

    padding: 4px;

    z-index: 21;

    &.search-picker--empty {
        padding: 0.75rem 0;
        font-size: 1.1rem;
        font-weight: 600;
        color: $key-text;
        text-align: center;
    }

    .search-picker__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .search-picker__hidden {
        border-top: 1px solid $subcontent-border-color;
        color: $detail-text;

        text-align: center;

        // Adds some space between border and edge of modal
        margin: 0 0.5rem;
        font-size: 0.6rem;

        // Top space needs to be 2x bottom
        padding: 0.4rem 0 0.2rem;

        font-weight: 500;
        text-transform: uppercase;
    }

    .search-picker__item {
        cursor: pointer;
        border-radius: 6px;

        &:hover {
            background: rgba($accent-color, 0.1);
        }
    }
}
