.duplicate-users__table {
    width: 50%;
    margin: 0px auto;
    background-color: lightgrey;
}

.duplicate-users__td {
    text-align: center;
    border-bottom: solid 1px black;
}

.duplicate-users__th {
    border-bottom: solid 1px black;
}