$level-1-margin: 40%;
$lower-theme-gutter: $level-1-margin;

.splash {
  // Avoids scroll lag
  contain: paint;
  
  // Backgrounds
  background:
    $bg-level-1 bottom / auto $level-1-margin repeat-x, // Level 1 background (mountains, ice, etc.)
    $bg-level-2, // Level 2 background, contrasts. (stars, glare, etc.)
    $bg-level-3, // Stage + Moon/sun
    $main-background; // Primary color

  background-blend-mode: normal, overlay, normal, soft-light;

  width: 100%;
  min-height: 100%; // We need to manually specify this so child height constraints.

  // Flex centering
  display: flex;
  align-items: center;
  justify-content: center;

  // The title header
  h1 {
    font-size: 8rem;
    font-family: $bold-font;
    font-weight: 900;
    color: $splash-name-color;
    text-align: center;
  }

  h3 {
    display: block;
    color: $subtitle-color;
    text-align: center;
  }

  // Due to contrasting colors, this will avoid weirdness of subpixel rendering.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.index-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100% - $lower-theme-gutter;
  width: 100%;
}

// This import is the tally list
@import "theme/index.scss";
