{% extends "layouts/page.html" %}
{% from "includes/data.html" import data, data_value %}

{% block title %}{{ doc_name }}{% endblock %}

{% block base_content -%}
{{ data('helpCenter', {'path': path_name}) }}

<div class="content content-division">
    <aside class="content-division__aside--width-sidebar">
        <nav class="sidebar-navigation" id="help-navigation">
            <ul>
                {%- for doc_section in doc_structure -%}
                {% set doc_section_name = doc_section['name'] %}
                {% set doc_section_contents = doc_section['contents'] %}
                {% set doc_section_is_active = doc_section_name == section_name %}
                    <li>
                        <a class="sidebar-navigation__title" data-navigation-target="{{ loop.index }}">{{ doc_section_name }}</a>
                        <ul id="navigation-target-{{ loop.index }}"
                            class="{{ 'sidebar-navigation__open' if doc_section_is_active else '' }}">
                            {%- for document in doc_section_contents -%}
                            {% set document_path = document['path'] %}
                            {% set document_name = document['name'] %}
                            {% set doc_path_is_active = document_path == path_name %}
                                <li><a class="sidebar-navigation__link{{ ' sidebar-navigation__active' if doc_path_is_active else '' }}" href="{{ url_for('help_page', path=document_path) }}">{{ document_name }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </li>
                {%- endfor -%}
            </ul>
        </nav>
    </aside>

    <main>
        <div class="list-header">
            <h1>{{ doc_name }}.</h1>
        </div>

        {%- if caption is not none -%}
            <div class="list-header list-header--style-caption">
                <h2 class="header--style-caption">{{ caption }}</h2>
            </div>
        {%- endif -%}

        {%- if headings|length > 1 -%}
        <div class="doc-headers">
            <strong class="doc-headers__name">Contents</strong>
            <ul class="doc-headers__list">
                {%- for name, slug in headings.items() -%}
                    <li class="doc-headers__list__item"><a href="#{{ slug }}">{{ name|replace('.', '') }}</a></li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}

        <div class="main">
            <article class="body">
                {{ html | safe }}
            </article>
        </div>
    </main>
</div>
{%- endblock %}

{% block footer -%}
<div class="footer content footer--primary-inline">
    <span class="footer__inline footer__inline--weight-light footer__inline--color-light">See any fixes or improvements you could make?</span>&nbsp;
    <a class="footer__inline footer__inline--color-accent" href="https://github.com/Axtell/Axtell/edit/master/docs/{{ path_name }}.md">Submit an edit!</a>
</div>
{{ super() }}
{%- endblock %}
