{% extends "layouts/page.html" %}
{% from "includes/more.html" import more %}
{% from "includes/time.html" import time %}

{% macro help_topic(title, description, id) -%}
    <div class="help-topics__topic">
        <div class="help-topics__topic__content">
            <div class="help-topics__topic__column help-topics__topic__icon_wrap">
                {% include 'svg/' + id + '.html' %}
            </div>
            <div class="help-topics__topic__column help-topics__topic__column--flex">
                <h4>{{ title }}</h4>
                <p class="help-topics__topic__description">{{ description }}</p>
                {{ more('About ' + title, url_for('help_page', path=id)) }}
            </div>
        </div>
    </div>
{%- endmacro %}

{% block title %}Help Center{% endblock %}
{% block content -%}
    <div class="list-header">
        <h1>Help Center.</h1>
    </div>
    <div class="list-header list-header--style-caption">
        <h2 class="header--style-caption">Answers to your questions, tips, and other site information.</h2>
    </div>
    <div class="main">
        <h3>Topics</h3>
        <div class="help-topics">
            {{ help_topic('FAQ', '"What is Axtell, code-golf?" and other frequently asked questions', id='faq') }}
            {{ help_topic('Privacy', 'Learn about what we do with data. Axtell never shares your data, and never collects PII.', id='privacy') }}
        </div>
    </div>
{%- endblock %}
