{% extends "layouts/page.html" %}
{% from "includes/more.html" import more %}
{% from "includes/header.html" import header %}

{% block title %}Home{% endblock %}
{% block header %}{{ header(classes="header--transparent") }}{% endblock %}
{% block base_content %}
<main class="content override splash">
    <div class="index-root">
        <div class="index-aside">
            <h1>Axtell</h1>
            <h3>Birds of a feather golf together.</h3>
        </div>
        <ul class="index-list">
            <li>
                <i>{% include "svg/help.html" %}</i>
                <div>
                    <h4><strong>What is</strong> Axtell?</h4>
                    <p>Axtell is a site for programming challenges. One popular variant, code-golf is doing
                        something with the least amount of code possible. Try your hand at some challenges
                        today. {{ more('See Challenges', url_for('get_posts')) }}</p>
                </div>
            </li>

            <li>
                <i>{% include "svg/idea.html" %}</i>
                <div>
                    <h4><strong>Get tips</strong> on how to up your golf game.</h4>
                    <p>Check out the non-existent tips page with tips on how you can
                    improve your scores in your favorite languages without bribing the
                    sheep or be cheat. {{ more('Learn Tips', '/doesntexistsorrylol') }}</p>
                </div>
            </li>
        </ul>
    </div>
</main>
{% endblock %}
