{% extends "layouts/page.html" %}
{% from "includes/userbox.html" import userbox %}

{% block title %}Posts{% endblock %}
{% block content -%}
    <div class="list-header">
        <h1>Challenges.</h1>
{#         <div class="select-dialog d-sort">
            <label class="select-trigger">sort by: <a>recent</a></label>
            <ul class="drop template">
                <li data-st="n" class="opt state-active">newest</li>
                <li data-st="s" class="opt">votes</li>
                <li data-st="t" class="opt">active</li>
            </ul>
        </div>#}
     </div>
    <div class="list-header list-header--style-caption">
        <h2 class="header--style-caption">All the latest code-golf challenges written by users like you.</h2>
    </div>
    <div class="main">
        <ul class="posts">
            {% for post in posts.items -%}
                <li class="post-item">
                    <a href="{{ url_for('get_post', post_id=post.id, title=macros.slugify(post.title)) }}" class="title">
                        <h4>{{ post.title }}</h4>
                        {% if post.answers|length == 0 %}
                        <span class="post-info-tag post-info-tag--purple">Unanswered</span>
                        {%- endif %}
                        <div class="post-data">
                            {{ userbox(post.user, post.date_created) }}
                        </div>
                    </a>
                </li>
            {%- endfor %}
        </ul>
        <div class="pagination">
            {% if posts.has_prev -%}
                <a href="?p={{ posts.page - 1 }}" class="page-ctrl -before{{ ' active' if posts.has_prev else '' }}">
            {%- else -%}
                <a class="page-ctrl -before">
            {%- endif %}
                {% include "svg/left-caret.html" %} Prev
            </a>
            <div class="page-list -before">
                {% for num in macros.pages_below(posts) %}
                <a href="?p={{ num }}">{{ num }}</a>
                {% endfor %}
            </div>
            <form method="GET" action="{{ request.path|e }}">
                <input class="current-page input-type -num" value="{{ posts.page|e }}" name="p" type='text'>
            </form>
            <div class="page-list -after">
                {% for num in macros.pages_above(posts) %}
                <a href="?p={{ num }}">{{ num }}</a>
                {% endfor %}
            </div>
            {% if posts.has_next -%}
                <a href="?p={{ posts.page + 1 }}" class="page-ctrl -after active">
            {%- else -%}
                <a class="page-ctrl -after">
            {%- endif %}
                Next {% include "svg/right-caret.html" %}
            </a>
        </div>
    </div>
{%- endblock %}
