{% extends "layouts/page.html" %}

{% block title %}Posts{% endblock %}
{% block content -%}
<div id="list-header">
    <h1>Posts</h1>
    <div>
        <span class="select-dialog">
            <span>sort by: <a>recent</a></span>
            <div class="drop template">
                <div class="opt state-active">recent</div>
                <div class="opt">votes</div>
                <div class="opt">active</div>
            </div>
        </span>
    </div>
</div>
<div>
    <ul>
        {% for post in posts.items %}
            <li>{{ post.title }}: {{ post.body }}</li>
        {% endfor %}
    </ul>
</div>
{%- endblock %}
