{% extends "layouts/page.html" %}

{% block title %}Profile Settings{% endblock %}
{% block content -%}
<form method="POST" action="{{ url_for('set_profile_preferences') }}" id="sf-profile">
    <div class="list-header">
        <h1>User Settings.</h1>
        <button type="submit" id="save-profile" class="button button--color-green button--align-center">
            {% include "svg/save.html" %}
            Save
        </button>
    </div>
    <div class="list-header list-header--style-caption">
        <h2 class="header--style-caption">Change your profile and other account options.</h2>
    </div>
    <div class="main">
        <div class="profile">
            <div class="profile__section">
                <ul class="profile__category_list">
                    <li class="profile__category_list__category profile__category_list__category--active">
                        {% include "svg/user.html" %}
                        <span class="profile__category_list__category__label">Profile</span>
                    </li>
                    <li class="profile__category_list__category">
                        {% include "svg/key.html" %}
                        <span class="profile__category_list__category__label">Logins</span>
                    </li>
                    <li class="profile__category_list__category">
                        {% include "svg/plus.html" %}
                        <span class="profile__category_list__category__label">Advanced</span>
                    </li>
                </ul>
            </div>

            <div class="profile__section profile__section--size-wide profile__section--padding profile__category_container">
                <div class="profile__category--active">
                    <h3 class="header--accent-line">Your Profile</h3>
                    <div class="item-wrap label-group label-group--style-clean rc-group item-wrap--glow item-wrap--nopad-horizontal item-wrap--pad-top">
                        <label for="settings-profile-displayname">
                            Display Name
                            <span aria-disabled
                                id="settings-profile-displayname-label" class="label-group__tooltip tooltip"
                                title="This is the name everyone sees identifying you.">{% include "svg/help.html" %}</span>
                        </label>
                        <input type="text" id="settings-profile-displayname"
                            class="text-input text-input--type-clean foreign-synchronize"
                            placeholder="Sir Goat IV" name="settings-profile-displayname"
                            value="{{ g.user.name|e }}">
                    </div>
                    <div class="item-wrap label-group label-group--style-clean rc-group item-wrap--glow item-wrap--nopad-horizontal item-wrap--pad-vertical item-wrap--pad-bottom">
                        <label for="settings-profile-email">
                            Email
                            <span aria-disabled
                                id="settings-profile-email-label" class="label-group__tooltip tooltip"
                                title="This email is always kept private and never shared. We will never send you any non-critical email.">
                                {% include "svg/help.html" %}
                            </span>
                        </label>
                        <input type="text" id="settings-profile-email"
                            class="text-input text-input--type-clean foreign-synchronize"
                            placeholder="sirgoat@gmail.com" name="settings-profile-email"
                            value="{{ g.user.email|e }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%- endblock %}

{% block body %}
{{ data('settingsContext', g.request_start_time|int) }}
{{ data('profile', g.user.id) }}
{{ super() }}
{% endblock %}
