{% extends "layouts/page.html" %}
{% from "includes/time.html" import time %}
{% from "includes/data.html" import data, data_value %}

{# Custom more macro #}
{% macro more(text) %}
<span>{{ text }}</span>
{% include "svg/right-caret.html" %}
{% endmacro %}

{% block title %}{{ user.name }}'s Profile{% endblock %}
{% block base_content -%}
{{ data("profile_user", user.to_json(current_user=g.user)) }}
<main class="profile">
    <section class="profile__column profile__column--sizing-noshrink profile__column--max-width-5">
        <div>
            <div class="profile__avatar">
                <img src="{{ user.avatar_url() }}" />
                {%- if g.user == user -%}
                <a class="profile__avatar__edit" aria-label="Change Avatar">
                    {% include "svg/edit.html" %}
                </a>
                {%- endif -%}
            </div>
        </div>
        <h2 class="profile__name">{{ user.name }}</h2>

        <div class="profile__inforow">
            {%- if g.user is not none and g.user != user -%}
            {%- set is_following = user.followed_by(g.user) -%}
            <button id="user__follow" class="button button--color-accent-border button--size-wide button--padding-top button--shadow-none {{ 'button--active' if is_following else '' }}">
                {%- if is_following -%}
                    {%- include "svg/unfollow.html" %}
                    <span>Unfollow</span>
                {%- else -%}
                    {%- include "svg/follow.html" %}
                    <span>Follow</span>
                {%- endif -%}
            </button>
            {%- endif -%}
        </div>

        <ul class="profile__data">
            <li class="profile__data__item">
                {% include "svg/calendar.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">Joined</span>
                    <span class="profile__data__item__value">
                        {% set logins = user.logins %}
                        {%- if logins|length == 0 -%}
                        {# This case should never happen but just in case #}
                        never
                        {%- else -%}
                        {{ time(user.logins[0].time) }}
                        {%- endif -%}
                    </span>
                </div>
            </li>
            {%- if user.following_public or g.user == user -%}
            <li id="user__metric__following" class="profile__data__item profile__data__item--target">
                {% include "svg/following.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">{{ more('Following') }}</span>
                    <span class="profile__data__item__value">{{ user.following.count()|pluralize("user") }}</span>
                </div>
            </li>
            {%- endif -%}
            <li id="user__metric__followers" class="profile__data__item profile__data__item--target">
                {% include "svg/followers.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">{{ more('Followers') }}</span>
                    <span class="profile__data__item__value">{{ user.followers.count()|pluralize("user") }}</span>
                </div>
            </li>
            <li class="profile__data__item">
                {% include "svg/answer.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">Answers</span>
                    <span class="profile__data__item__value">{{ user.answers|length }}</span>
                </div>
            </li>
            <li class="profile__data__item">
                {% include "svg/question.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">Challenges</span>
                    <span class="profile__data__item__value">{{ user.posts|length }}</span>
                </div>
            </li>
            {% if user.linked_stackexchange_public and stackexchange_login is not none -%}
            <li class="profile__data__item">
                {% include "svg/stackexchange.html" %}
                <div class="profile__data__item__stack">
                    <span class="profile__data__item__key">Stack Exchange</span>
                    <a class="profile__data__item__value" href="https://codegolf.stackexchange.com/u/{{ stackexchange_login.identity }}" rel="noopener" target="_blank">
                        {{ more(stackexchange_login.identifier) }}
                    </a>
                </div>
            </li>
            {%- endif %}
        </ul>
    </section>
    <section class="profile__column profile__column--responsive-width-2">
        <!-- Feed -->
        <section class="profile__section">
            <h3 class="profile__section__header header--style-icon">
                {% include "svg/activity.html" %}
                Recent Activity
            </h3>

            <div class="profile__section__body">
                {%- if true -%}
                <div class="profile__section__item profile__section__body__empty">
                    {% include "svg/mascot/goat-grazing.html" %}
                    <hgroup>
                        <h4 class="profile__section__body__empty__title">No Activity.</h4>
                        <h5 class="profile__section__body__empty__desc">{{ user.name }} hasn't done anything&mdash; yet...</h5>
                    </hgroup>
                </div>
                {%- endif -%}
            </div>
        </section>
    </section>
    <section class="profile__column profile__column--responsive-width-1">
        <section class="profile__section">
            <h3 class="profile__section__header header--style-icon">
                {% include "svg/upward-graph.html" %}
                Points
            </h3>

            <div class="profile__section__body">
                <div class="profile__section__item">
                    <div><canvas id="reputation-chart"></canvas></div>
                </div>
            </div>
        </section>
    </section>
</main>
{%- endblock %}
