#ammd-auth {
    margin: 1em;
    
    #providers {
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        .am-provider {
            height: 2em;
            @import "providers/google.scss";
        }
    }
}
