h1 {
  font: {
    family: $bold-font;
    weight: bold;
    size: 1.5rem;
  };
}

h2, h3 {
  font-size: 1.4rem;
}

hr {
  border: none;
  border-top: 1px solid $subcontent-border-color;
}

code {
  font-family: $monospace;
}

p:first-child {
  margin-top: 0;
}

a {
  color: inherit;
  border-bottom: 2px solid $link-color;
  padding: 0 1px;
}

li, p {
  color: $main-text;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  hyphens: auto;
}

.katex-display {
  // Default margin results in no extra space.
  margin-bottom: 2em;
}
