// Root of comments
.comment-list {
    border-top: 1px $comment-wrapper-top-style;
    margin-top: 1.2rem; // Above border

    padding: 0.8rem 1.5rem 0;

    position: relative;

    list-style: none;

    .comment-list::before {
        padding: 0;
        content: "";
    }

    &::before {
        $content-list-title-size: 12px;

        content: "Comments";
        position: absolute;

        left: 0;
        top: -$content-list-title-size / 2;
        padding: 0 8px;

        font-size: $content-list-title-size;
        text-transform: uppercase;
        font-weight: 600;

        background: $main-bg;
        color: $label-tag;
    }
}

// The location from which to prepend new items.
.comment--prepend-ref { display: none; }

.comment-item {
    padding: 0.4rem 1rem;

    // For comment actions such as "Load More" or "Write Comment"
    &.comment-item--action {
        $comment-action-size: 0.8rem;
        $comment-action-color: $dim-text;

        svg {
            fill: $dim-text;
            height: $comment-action-size;
            margin-right: 4px;
        }

        font-size: $comment-action-size;
        color: $dim-text;
    }

    // The "comment posting"
    &.comment-loading {
        $comment-loading-color: $dim-bg;
        $comment-loading-size: 1rem;

        svg {
            height: $comment-loading-size;
        }

        font-size: $comment-loading-size;

        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        color: $label-text;
        background: $comment-loading-color;

        &:hover { background: $comment-loading-color; }
    }

    // Where left-side is user avatar and right side has infos
    &.comment-user-split {
        display: flex;
        flex-direction: row;

        // The avatar we'll fix
        .user {
            margin-right: 8px;

            .avatar {
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
            }
        }

        // The right-hand side
        .comment-content {
            flex: 1;

            .name {
                color: $em-text;
            }
        }

        // The header
        .comment-header {
            display: flex;

            // Make name longer so timestamp is pushed to right
            .name {
                flex: 1;
            }

            .timestamp {
                font-size: 0.7rem;
                color: $label-tag;
            }
        }
    }

    // An actual comment element itself
    &.comment {
        // // This adds a bar to the left of comment.
        // &::before {
        //     content: "";
        //     position: absolute;
        //     display: block;
        //     border-left: 2px solid #EEE;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        // }

        // The physical body
        .body {
            $comment-body-size: 0.8rem;
            font-size: $comment-body-size;

            p {
                margin: 0;
                display: inline;
                font-size: $comment-body-size;

                &:not(:first-child)::before {
                    content: " ";
                }
            }
        }
    }

    // Initialy transparent background so transition works
    background: transparent;

    transition: opacity 0.2s ease-out, height 0.05s, width 0.05s, background 0.1s linear;

    cursor: pointer;
    display: block;

    border-radius: 4px;

    &:hover {
        background: rgba($hover-mix, 0.03);
    }
}

// The comment write box
.comment-writer {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem 0;
    border-top: 1px $comment-wrapper-top-style;

    h5 {
        font-size: 1rem;
        font-weight: 600;
        color: $label-text;
        margin-bottom: 0.5rem;
    }

    // The element in which the comment text is inputted
    .comment-body {
        display: block;
        width: 100%;

        padding: 0.5rem;
        font-size: 0.8rem;
    }

    // The submit buttons
    .comment-submit {
        display: flex;
        align-items: center;

        margin-top: 4px;

        .info {
            flex: 1;
            font-weight: 300;
            color: $main-text;
        }

        .cancel {
            color: $dim-text;
            margin-right: 4px;
            cursor: pointer;
        }

        .submit {
            // Since this also has .button class and that needs this
            display: inline-block;
        }
    }
}
