div#content {
  height: 100%;
  flex: 1;

  .content {
    padding: 2rem 0;
    box-sizing: border-box;
    padding-bottom: 0;
  }

  .main {
    box-sizing: border-box;
    padding: 1rem 1rem;

    @import "page/post/posts.scss";
  }

  @import "error-page.scss";
}
