.item-wrap {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > input, > button, > textarea {
    flex: 1;
  }

  input {
    box-sizing: border-box;
  }
  .button {
    font-size: 1rem;
  }
}

.group-stretch {
  min-height: 24rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-errors {
  margin-top: 0;
  font-size: 0.8rem;
  color: $label-text;
  padding-left: 30px;
}

.label-group {
  label {
    display: block;
    color: $label-text;

    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: $label-tag;

    margin-bottom: 4px;
  }
}

input.text-input, [contenteditable].text-input, .text-base.text-input, .text-input {
  font-size: 1rem;

  &.-owned {
    border-bottom: none;
  }

  // For spaced item listings
  &.-list {
    padding: 4px 0;
  }

  // For URL inputs
  &.-url {
    font-size: 13px;
    font-family: $monospace;
  }

  &.-title {
    font-size: 1.3rem;
    font-family: $bold-font;
    font-weight: $bold-weight;
    color: $em-text;

    padding-bottom: 4px;
    box-sizing: content-box;
  }

  &.-mail {
    font-size: 1.2rem;
    font-family: $monospace;
    letter-spacing: 1px;

    padding-bottom: 4px;
    box-sizing: content-box;
  }

  &.-list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    input {
      flex: 1;
    }
  }

  border-bottom: 2px solid $label-tag;

  &:focus {
    border-bottom-color: mix($label-tag, $hover-mix, 90%)
  }
}

// Root styles for all user text inputs
.text-base {
  background: $editor-bg;
  color: $editor-fg;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  border: none;

  border-radius: 0;

  position: relative;

  .expand {
    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }
}

textarea.text-base {
  background: $code-block-bg;
}

// Styles all items in a textinput as a single item
.input-list-item {
  background: rgba($hover-mix, 0.3);
  display: inline-block;

  color: white;

  padding: 4px 8px;
  border-radius: 4px;

  font-size: .8rem;
  font-weight: 300;
  vertical-align: middle;
  white-space: nowrap;

  color: #FFF;
  fill: #FFF;

  svg, img {
    cursor: pointer;
    margin-top: -1px;
    margin-left: 4px;
    padding: 2px;

    border-radius: 50%;
    height: 0.6rem;

    vertical-align: middle;

    background: rgba($hover-mix, 0.1);
  }

  margin-right: 4px;
  margin-bottom: 4px;
}

// For live foreign previews
#preview-wrap {
  a {
    text-transform: none;
    color: $accent-color;
    font-weight: 400;
    padding-left: 4px;

    &::before {
      content: '\002014';
      color: rgba($hover-mix, 0.2);
      font-weight: 300;
      margin-right: 4px;
    }
  }
}

// ALIGNED GROUP
.aligned-group {
  display: flex;
  flex-direction: row;
}

.aligned-group--expand {
  flex: 1;
}

// INFO WRAP
.info-wrap {
  h4 {
    font-size: 1rem;
  }

  .info-wrap--desc {
    color: $dim-text;
  }
}

@import "file.scss";
@import "rcgroup.scss";
