.item-wrap {
  padding: 1em;
  box-sizing: border-box;
  width: 100%;

  input {
    box-sizing: border-box;
  }
  .button {
    font-size: 1rem;
  }
}

.group-stretch {
  flex: 1 0 16em;
  display: flex;
  flex-direction: column;

  .stretch-item {
    flex: 1;
  }
}

.label-group {
  label {
    display: block;
    color: $label-text;
    font-size: 1rem;

    margin-bottom: 4px;
  }
}

.text-input {
  font-size: 1rem;
  padding: 0.5em 1em;
  width: 100%;
}

.text-base {
  background: $editor-bg;
  color: $editor-fg;
  border: 1px solid $editor-border;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  resize: none;

  .expand {
    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }

  &:focus {
    box-shadow: 0 0 3px $header-shadow-color inset;
  }
}
