.item-wrap {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > input, > button, > textarea {
    flex: 1;
  }

  input {
    box-sizing: border-box;
  }
  .button {
    font-size: 1rem;
  }
}

.group-stretch {
  flex: 1 0 16em;
  display: flex;
  flex-direction: column;

  .stretch-item {
    flex: 1;
  }
}

.form-errors {
  margin-top: 0;
  font-size: 0.8rem;
  color: $label-text;
  padding-left: 30px;
}

.label-group {
  label {
    display: block;
    color: $label-text;

    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: $label-tag;

    margin-bottom: 4px;
  }
}

input.text-input {
  font-size: 1rem;

  &.-owned {
    border-bottom: none;
  }

  // For URL inputs
  &.-url {
    font-size: 13px;
    font-family: $monospace;
  }

  &.-title {
    font-size: 1.3rem;
    font-family: $bold-font;
    font-weight: $bold-weight;
    color: $em-text;

    padding-bottom: 4px;
    box-sizing: content-box;
  }

  &.-mail {
    font-size: 1.2rem;
    font-family: $monospace;
    letter-spacing: 1px;

    padding-bottom: 4px;
    box-sizing: content-box;
  }

  border-bottom: 2px solid $label-tag;

  &:focus {
    border-bottom-color: mix($label-tag, $hover-mix, 90%)
  }
}

.text-base {
  background: $editor-bg;
  color: $editor-fg;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  border: none;

  border-radius: 0;

  position: relative;

  .expand {
    -webkit-appearance: none;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }
}

textarea.text-base {
  background: $code-block-bg;
}

@import "file.scss";
@import "rcgroup.scss";
