div#header {
    background: $header;
    border-bottom: 1px solid $header-border;
    
    box-shadow: 0px 1px 1px $header-shadow-color;
    z-index: 1;
    
    align-items: stretch;
    flex-wrap: nowrap;
    
    .content {
        display: flex;
        justify-content: center;
        align-items: stretch;
        
        // .section {  }
        .expand { flex: 1; }
        
        a {
            transition: 0.1s ease-in background;
            
            display: inline-block;
            box-sizing: border-box;
            margin-right: 1em;
            
            &:hover {
                background: $big-bg;
            }
        }
        
        h1 {
            font-size: 1.5em;
            padding: 0.6em;
        }
    }
}
