div#header {
    background: $header;
    border-bottom: 1px solid $header-border;
    
    align-items: stretch;
    flex-wrap: nowrap;
    
    padding: 0.5rem 0;
    
    .content {
        display: flex;
        justify-content: center;
        padding: 3px 0px 2px 0px;
        
        .section { padding: 0 12px; }
        .expand { flex: 1; }
        
        a {
            transition: 0.1s ease-in background;
            padding: 5px 8px;
            border-radius: 4px;
            
            &:hover {
                background: #EEE;
            }
        }
        
        h1 { font-size: 1.2em; }
    }
}
