@import "mixins.scss";
@import "variables.scss";

html, body {
    @include full;
    @include fit;
}

body {
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    font-family: $body-font;
    font-size: $font-size;
    
    > div {
        width: 100%;
        display: flex;
        justify-content: center;
        
        > .content {
            @media screen and (max-width: 590px) {
                width: 100%;
            }
            
            width: $page-width;
        }
    }
    
    @import "header/header.scss";
    @import "content.scss";
    
    @import "buttons.scss";
}

#ns-main {
    padding: 0.5em 0;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 1.2em;
    background: #C22;
}

@import "nodes.scss";
@import "modal.scss";
