@import "mixins.scss";

$collapse-width: 1100px;

html, body {
  @include full;
  @include fit;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;

  font-family: $body-font;
  font-size: $font-size;

  background: $main-bg;

  > div {
    width: 100%;
    display: flex;
    justify-content: center;

    > .content {
      @media screen and (max-width: $collapse-width) {
        width: 100%;

        &.content-split.cs-collapse {
          width: 100%;
          margin-left: 0;
        }
      }

      &.content-split {
        $sidebar-bonus: 8%;
        $content-space: (100% - $page-width) / 2;
        $content-width: 100% - $content-space;
        width: $content-width;
        margin-left: $content-space;
        $sidebar-width: ($content-space / $content-width) * 100% + $sidebar-bonus;

        #cs-aside {
          @media screen and (max-width: 650px) {
            display: none;
          }

          width: $sidebar-width;
        }

        .fixed-aside {
          position: absolute;
          width: ($sidebar-width / 100%) * $content-width;
        }
      }

      width: $page-width;
    }
  }

  @import "header/header.scss";
  @import "listing/listing.scss";
  @import "select-dialog.scss";
  @import "page/page.scss";
  @import "content.scss";
  @import "buttons.scss";
  @import "userbox.scss";
  @import "leaderboard.scss";
  @import "answer/write.scss";
  @import "answer/view.scss";
  @import "vote.scss";
}

#ns-main {
  padding: 0.5em 0;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 1.2em;
  background: #C22;
}

.template {
  display: none !important;
}

@import "tio.scss";
@import "markdown.scss";
@import "nodes.scss";
@import "modal.scss";
@import "auth.scss";
@import "pagination.scss";
@import "form.scss";
@import "lang.scss";
@import "footer.scss";
@import "upgrade-browser.scss";
