@mixin full {
    width: 100%;
    height: 100%;
}

@mixin fit {
    margin: 0;
    padding: 0;
}

@mixin center-v-block {
    display: flex;
    align-items: center;
}

@mixin icon-link {
    svg {
        height: 1.2em;
        margin-right: 8px;
    }
}
