a {
    text-decoration: none;
    
    &.title {
        color: $title-text;
    }
}

b, strong {
  font-family: $bold-font;
}

h1, h2, h3, h4, h5, h6 {
    color: $em-text;
    font-weight: 300;
    font-family: $light-font;
    margin: 0;
    display: inline-block;
}

h2, h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.4em;
  font-weight: 400;
  font-family: Lato;
}

span.label {
  font-size: 1rem;
}

pre, pre.hljs, .body pre {
    font-family: $monospace;
    font-size: 15px;
    line-height: 1.3;
    
    background: $code-block-bg;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
    border-left: 8px solid $code-block-indent;
    
    code {
        padding: 1rem 1.5rem;
        display: block;
        overflow-x: auto;
        font-family: inherit;
    }
}

.body { @import "body.scss"; }
