p, span {
    font-size: 1.2rem;
    color: #333;
}

b, strong {
    font-family: $bold-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $light-font;
    margin: 0;
    display: inline-block;
}
