a {
    text-decoration: none;
}

b, strong {
    font-family: $bold-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $light-font;
    margin: 0;
    display: inline-block;
}

h2, h3 {
    font-size: 2em;
}

span.label {
    font-size: 1rem;
}

.body {
    p, span {
        font-size: 1.2rem;
        color: #333;
    }

    a {
        color: #222;
        
        &:hover {
            color: black;
        }
        
        &:visited {
            color: black;
        }
        
        &:active {
            color: black;
        }
    }
}
