$page-width: 70%;
$max-lower-height: 65%;
$font-size: 14px;

$bold-font: "Lato";
$light-font: "Roboto";
$monospace: Menlo, 'Fira Mono', monospace;

// System fonts
$body-font: $light-font;

// Code editor
$code-line-size: 1.2rem;
$code-line-num: 8;
