$page-width: 80%;
$font-size: 14px;

$bold-font: "Lato";
$light-font: "Roboto";

// System fonts
$body-font: $light-font;

$em-text: #000;
$main-text: #333;
$label-text: #676767;
$dim-text: #999;

// BGs
$dim-bg: #ECECEC;

// Colors
$theme-color: #09F;
$accent-color: $theme-color;

// Header colors
$header: #FFF;
$header-border: #DDD;
$header-shadow-color: #EEE;

$big-select: $theme-color;
$big-fg: #555;
$big-bg: #F6F6F6;
