@import "variables-shared.scss";

// Font colors
$em-text: #DDD; // Off-white
$main-text: #afb7ca; // Off-black dark blue
$label-text: #9e9e9e; // Gray
$label-tag: #CCC; // Light gray
$dim-text: #999; // Gray
$title-text: #74aae7; // Blue

// Text editing colors
$editor-bg: #373e4d;
$editor-fg: $em-text;
$editor-border: #41495a;

// MARKDOWN COLORS
$link-color: #7ec5ff;

// Depth colors
$popover-bg: #2c323e;
$popover-border: rgba(127, 127, 127, 0.3);
$popover-shadow: #CCC;

// Code block colors
$code-block-bg: #323741;
$code-block-indent: #4c4c4c;

// BGs
$main-bg: #262b35;
$dim-bg: #383f4e;

// Colors
$theme-color: #09F;
$accent-color: $theme-color;

// Seperators
$content-border-color: rgba(127, 127, 127, .85);
$subcontent-border-color: rgba(127, 127, 127, 0.4);

$pagination-seperator: #CCC;

// Header colors
$header: #2c323e;
$header-border: rgba(127, 127, 127, 0.3);
$header-shadow-color: #1f1f1f;

$big-select: $theme-color;
$big-fg: #999;
$big-bg: #383f4e;

$close-button: #AAA;
