@import "variables-shared.scss";

// Font colors
$em-text: #000;
$main-text: #4c5566;
$label-text: #676767;
$label-tag: #BBB;
$dim-text: #999;
$title-text: #555;

$hover-mix: #000;
$hover-source: #FFF;

// Text editing colors
$editor-bg: transparent;
$editor-fg: #333;
$editor-border: #EEE;

// MARKDOWN COLORS
$link-color: #d6dae1;
$blockquote-marker: #FEEA94;
$blockquote-fg: #000;

// Button colors
$disabled-btn: #CCC;
$disabled-btn-border: #AAA;

// Depth colors
$popover-bg: #FFF;
$popover-border: #EEE;
$popover-shadow: #CCC;

// Code block colors
$code-block-bg: #fafafa;
$code-block-fg: #000;
$code-block-indent: #ededed;

// BGs
$main-bg: #FFF;
$dim-bg: #ECECEC;

// Colors
$theme-color: #09F;
$accent-color: $theme-color;

// Seperators
$content-border-color: #EEE;
$subcontent-border-color: #EEE;

$pagination-seperator: #CCC;

// Avatar colors
$avatar-mini-color: #EEE;

// Header colors
$header: #FFF;
$header-border: #DDD;
$header-shadow-color: #EEE;

$big-select: $theme-color;
$big-fg: #555;
$big-bg: #F6F6F6;

$close-button: #AAA;
