#answer-box {
  z-index: 20;
  padding: 1rem;

  position: fixed;

  max-height: $max-lower-height;
  overflow-y: auto;

  background: $popover-bg;

  left: 0;
  right: 0;

  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;

  box-shadow: 0 -32px 64px rgba(120, 111, 143, 0.26), 0 -16px 32px rgba(92, 87, 105, 0.16);
  border-top: 1px solid $popover-border;

  .list-header { align-items: center; }

  .answer-form {
    #code-container .CodeMirror {
      font-family: $monospace;
      font-weight: 400;
    }
  }
}
