{% extends "layouts/split.html" %}
{% from "includes/more.html" import more %}
{% from "includes/userbox.html" import userbox %}
{% from "includes/voting.html" import votebuttons %}
{% from "includes/comment.html" import commentList %}
{% from "includes/data.html" import data, data_value %}

{% block head -%}
{{ super() }}
<link type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Mono&amp;subset=greek,latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">
{% set canonical = opts.canonical_host + url_for('get_post', post_id=post_id, title=macros.slugify(post.title)) %}
<link rel="canonical" href="{{ canonical }}">

{% set description = post_body|striptags|truncate(250) %}

<meta property="og:type" content="article">
<meta property="og:url" content="{{ canonical }}">
<meta property="og:description" content="{{ description|e }}">

{%- set revisions = post.post_revisions -%}
{%- if revisions|length > 0 -%}
    {%- set last_modified = post.post_revisions[0].revision_time -%}
{%- else -%}
    {%- set last_modified = post.date_created -%}
{%- endif -%}

<meta property="article:published_time" content="{{ post.date_created.isoformat() }}">
<meta property="article:modified_time" content="{{ last_modified.isoformat() }}">

<meta name="description" content="{{ description|e }}">
{%- endblock %}

{% block title %}{{ post.title|e }}{% endblock %}
{% block main -%}
<article id="post">
    {{ data('post', post.to_json(no_body=True)) }}
    <div class="list-header list-header--nopad-vertical">
        <h2 class="header--style-category">Code-Golf</h1>
    </div>
    <div class="list-header">
        <h1><a href="{{ canonical }}">{{ post.title|e }}</a></h1>
    </div>
    <div class="post-split main">
        <article class="split-main body">
            {{ post_body|safe }}
        </article>
    </div>
    <div id="post-action-list" class="post-action-list post-action-list--pad-horizontal">
        {% set vote_status = vote.get_post_vote(post.id) %}
        {{ votebuttons(vote_status, is_own=post.user == g.user) }}
        {% if post.user == g.user -%}
        <div class="post-action-list__spacer"></div>
        <div class="action-button action-button--hovcol-red delete-button">
            <div class="action-icon__group">
                {% include "svg/trash.html" %}
                <span>Delete Challenge</span>
            </div>
        </div>
        {%- endif %}
    </div>
    <div class="post-details">
        {{ userbox(post.user, post.date_created, classes="post-detail-item") }}
        {% if post.ppcg_id is not none -%}
        <a class="import-indicator post-detail-item" href="https://codegolf.stackexchange.com/questions/{{ post.ppcg_id }}">
            <span class="import-indicator__icon">
                <img src="/static/img/ppcg-logo.svg"/>
            </span>
            <div class="import-indicator__desc">
                <span class="import-indicator__verb">Imported From</span>
                <span class="import-indicator__source">PPCG</span>
            </div>
            <span class="import-indicator__chevron">
                {% include "svg/right-caret.html" %}
            </span>
        </a>
        {%- endif %}
    </div>
    {{ commentList(post_comments) }}
</article>

<hr class="big">

{% if g.user is not none -%}
<div class="r-alt">
    <button class="write-answer button button--color-accent button--align-center button--size-wide">
        {% include "svg/pen.html" %}
        Write answer
    </button>
</div>
{%- endif %}

<div id="responses">
    <div class="list-header">
        <h2>Answers</h2>
        {% if answers.total > 1 -%}
        <span class="select-dialog d-sort">
            <label class="select-trigger">sort by: <a>recent</a></label>
            <ul class="drop template">
                <li data-st="r" class="opt state-active">relevance</li>
                <li data-st="s" class="opt">size</li>
                <li data-st="t" class="opt">newest</li>
            </ul>
        </span>
        {%- endif %}
    </div>
    {% if answers.pages == 0 -%}
    <div class="response-empty">No answers posted</div>
    {%- elif answers.items|length == 0 -%}
    <div class="response-empty">No answers on page {{ answers.page }}</div>
    {%- else -%}
    <ul class="response-list">
        {% for answer in answers.items %}
            <li id="answer-{{answer.id|e}}" class="answer" data-id="{{ answer.id|e }}">
                {{ data('a' + answer.id|string, answer.to_json(no_code=True)) }}
                <div class="header">
                    <img src="{{ answer.get_language().get_logo_url() }}">
                    <h4>{{ answer.get_language().get_display_name() }}</h4>

                    <div class="answer-metric">
                        <span class="answer-metric__value"> {{ answer.byte_len }}</span>
                        <span class="answer-metric__unit">
                            {{ more(answer.encoding, url_for('codepage', encoding=answer.encoding)) }}
                            {{ "byte" if answer.byte_len == 1 else "bytes" }}
                        </span>
                    </div>
                </div>
                <div class="body">
                    {{ macros.highlight_answer(answer)|safe }}
                    <article class="answer__commentary">{{ macros.render_markdown(answer.commentary)|safe }}</article>
                </div>
                <div class="post-action-list">
                    {% set vote_status = vote.get_answer_vote(answer.id) %}
                    {{ votebuttons(vote_status, is_own=answer.user == g.user) }}
                    {% if answer.user == g.user -%}
                    <div class="post-action-list__spacer"></div>
                    <div class="golf-button action-button">
                        <div class="action-icon__group">
                            {% include "svg/edit.html" %}
                            <span>Edit Answer</span>
                        </div>
                    </div>
                    <div class="action-button action-button--hovcol-red delete-button">
                        <div class="action-icon__group">
                            {% include "svg/trash.html" %}
                            <span>Delete Answer</span>
                        </div>
                    </div>
                    {%- endif %}
                    {% if g.user.is_admin %}
                    <div class="action-button action-button--hovcol-red nuke-button">
                        <div class="action-icon__group">
                            {% include "svg/nuke.html" %}
                            <span>Nuke</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="post-details post-details--nopad-horizontal">
                    {{ userbox(answer.user, answer.date_created, classes="post-detail-item") }}
                </div>
                {{ commentList(answer_comments[loop.index - 1]) }}
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if answers.has_prev -%}
            <a href="?p={{ answers.page - 1 }}" class="page-ctrl -before active">
        {%- else -%}
            <a class="page-ctrl -before">
        {%- endif %}
            {% include "svg/left-caret.html" %} Prev
        </a>
        <div class="page-list -before">
            {% for num in macros.pages_below(answers) %}
            <a href="?p={{ num }}">{{ num }}</a>
            {% endfor %}
        </div>
        <form method="GET" action="{{ request.path|e }}">
            <input class="current-page input-type -num" value="{{ answers.page|e }}" name="p" type='text'>
        </form>
        <div class="page-list -after">
            {% for num in macros.pages_above(answers) %}
            <a href="?p={{ num }}">{{ num }}</a>
            {% endfor %}
        </div>
        {% if answers.has_next -%}
            <a href="?p={{ answers.page + 1 }}" class="page-ctrl -after active">
        {%- else -%}
            <a class="page-ctrl -after">
        {%- endif %}
            Next {% include "svg/right-caret.html" %}
        </a>
    </div>
    {%- endif %}
</div>
{%- endblock %}

{% block sidebar -%}
<div class="content-sidebar fixed-aside">
    {% if g.user is not none -%}
    <button class="write-answer button button--color-accent button--align-center">
        {% include "svg/pen.html" %}
        Write answer
    </button>
    {%- endif %}
    {% if answers.total > 0 -%}
    <div class="csb-section">
        <h3>Leaderboard</h3>
        <table class="leaderboard">
            <tbody>
            {% for answer in leaderboard.get_answers() %}
                <tr>
                    <td class="counter">{{ loop.index }}.</td>
                    <td class="item-id">
                        <img class="icon" src="{{ answer.get_language().get_logo_url() }}"/>
                        <span class="item-anchor">
                            <a href="{{ url_for('get_answer', answer_id=answer.id) }}">{{ answer.get_language().get_display_name() }}</a>
                            <span class="author">by <span>{{ answer.user.name }}</span></span>
                        </span>
                    </td>
                    <td class="metric">
                        {{ answer.byte_len }}<span class="label-type">{{ "byte" if answer.byte_len == 1 else "bytes" }}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if leaderboard.get_count() < leaderboard.get_total_count() -%}
        <div class="icon-pair -active -center"><a class="lvc-reveal" href="#lb-m">{% include "svg/down.html" %}<span>See {{ leaderboard.get_total_count() - leaderboard.get_count() }} More</span></a></div>
        {%- endif %}
    </div>
    {%- endif %}
</div>
{%- endblock %}

{% block body %}
{{ super() }}
{% endblock %}
