{% extends "layouts/split.html" %}
{% from "includes/userbox.html" import userbox %}

{% block head -%}
{{ super() }}
{% set canonical = opts.canonical_host + url_for('get_post', post_id=post_id) %}
<link rel="canonical" href="{{ canonical }}">
<link property="og:url" value="{{ canonical }}">
<link property="og:type" value="article">
<link property="og:title" value="{{ post.title|e }}">
<meta name="description" value="{{ macros.text_preview(post.body)|e }}">
{% include "includes/editor.html" %}
{%- endblock %}

{% block title %}{{ post.title|e }}{% endblock %}
{% block main -%}
<div id="post">
    <div class="list-header">
        <h1><a href="{{ canonical }}">{{ post.title|e }}</a></h1>
    </div>
    <div class="post-split main">
        <div class="split-main body">
            {{ post_body|safe }}
        </div>
    </div>
    {{ userbox(post.user, post.date_created, vtight=true) }}
</div>
<hr class="big">
<div id="responses">
    <div class="list-header">
        <h2>Answers</h2>
        <span class="select-dialog d-sort">
            <span>sort by: <a>recent</a></span>
            <div class="drop template">
                <div data-st="r" class="opt state-active">relevance</div>
                <div data-st="s" class="opt">size</div>
                <div data-st="t" class="opt">newest</div>
            </div>
        </span>
    </div>
    {% if answers.pages == 0 -%}
    <div class="response-empty">No answers posted</div>
    {%- elif answers.items|length == 0 -%}
    <div class="response-empty">No answers on page {{ answers.page }}</div>
    {%- else -%}
    <ul class="response-list">
        {% for answer in answers.items %}
            <li id="answer-{{answer.id|e}}" class="answer" data-id="{{ answer.id|e }}">
                <div class="header">
                    <img src="{{ answer.get_language().get_logo_url() }}">
                    <h4>{{ answer.get_language().get_display_name() }}</h4>

                    <div class="answer-metric">
                        {{ answer.byte_len }}<span>bytes</span>
                    </div>
                </div>
                <div class="body">
                    {{ macros.highlight_answer(answer)|safe }}
                </div>
                {{ userbox(answer.user, answer.date_created, small=true, htight=true, vtight=true) }}
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if answers.has_prev -%}
            <a href="?p={{ answers.page - 1 }}" class="page-ctrl -before active">
        {%- else -%}
            <a class="page-ctrl -before">
        {%- endif %}
            {% include "svg/left-caret.html" %} Prev
        </a>
        <div class="page-list -before">
            {% for num in macros.pages_below(answers) %}
            <a href="?p={{ num }}">{{ num }}</a>
            {% endfor %}
        </div>
        <form method="GET" action="{{ request.path|e }}">
            <input class="current-page input-type -num" value="{{ answers.page|e }}" name="p" type='text'>
        </form>
        <div class="page-list -after">
            {% for num in macros.pages_above(answers) %}
            <a href="?p={{ num }}">{{ num }}</a>
            {% endfor %}
        </div>
        {% if answers.has_next -%}
            <a href="?p={{ answers.page + 1 }}" class="page-ctrl -after active">
        {%- else -%}
            <a class="page-ctrl -after">
        {%- endif %}
            Next {% include "svg/right-caret.html" %}
        </a>
    </div>
    {%- endif %}
</div>
{%- endblock %}

{% block sidebar -%}
<div class="content-sidebar fixed-aside">
    {% if g.user is not none -%}
    <a id="write-answer" class="button accent -center">
        {% include "svg/pen.html" %}
        Write answer
    </a>
    {%- endif %}
    <div class="csb-section">
        <h3>Leaderboard</h3>
        <table class="leaderboard">
            <tbody>
            {% for answer in leaderboard.get_answers() %}
                <tr>
                    <td class="counter">{{ loop.index }}.</td>
                    <td class="item-id">
                        <img class="icon" src="{{ answer.get_language().get_logo_url() }}"/>
                        <span class="item-anchor">
                            <a href="#answer-{{ answer.id }}">{{ answer.get_language().get_display_name() }}</a>
                            <span class="author">by <span>{{ answer.user.name }}</span></span>
                        </span>
                    </td>
                    <td class="metric">
                        {{ answer.byte_len }}<span class="label-type">bytes</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if leaderboard.get_count() < leaderboard.get_total_count() -%}
        <div class="icon-pair -active -center"><a class="lvc-reveal" href="#lb-m">{% include "svg/down.html" %}<span>See {{ leaderboard.get_total_count() - leaderboard.get_count() }} More</span></a></div>
        {%- endif %}
    </div>
</div>
{%- endblock %}

{% block body %}
<script>var {{ data_id }}id='{{ post.id }}';</script>
{{ super() }}
{% include "includes/answer-box.html" %}
{% endblock %}
