{% extends "layouts/split.html" %}

{% block title %}Posts{% endblock %}
{% block main -%}
    <form id="post-form" method="POST" action="{{ url_for('publish_post') }}">
        <div id="list-header">
            <h1>Create Post</h1>
            <div><span id="post-publish" class="select-dialog">
                <span>publish: <a></a></span>
                <input id="publish-target" type="hidden" name="publish-type" value="">
                <div class="drop template">
                    <div class="opt state-active">code-golf</div>
                </div>
            </span></div>
        </div>
        <div class="item-wrap label-group">
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" class="text-input text-base">
        </div>
        <div class="item-wrap label-group group-stretch">
            <label for="post-body">Post Body</label>
            <textarea name="post-body" id="post-body" class="markdown text-base stretch-item"></textarea>
        </div>
        <div class="item-wrap">
            <button type="submit" class="button accent">Post</button>
        </div>
    </form>
{%- endblock %}

{% block sidebar -%}
    <div class="sidebar help">
        <h4>Writing Tips</h4>
        <ul class="sc">
            <li>An <strong>objective</strong> way to identify a winner.</li>
            <li>Provide <strong>examples</strong> for clarity.</li>
            <li>Describe <strong>corner cases</strong>.</li>
        </ul>
    </div>
{%- endblock %}
