{% extends "layouts/split.html" %}

{% block title %}Posts{% endblock %}
{% block main -%}
<form id="post-form" method="POST" action="{{ url_for('publish_post') }}">
    <div id="list-header">
    <h1>Create Post</h1>
        <div><span id="post-publish" class="select-dialog">
            <span>publish: <a>post</a></span>
            <input id="publish-target" type="hidden" name="publish-target" value="">
            <div class="drop template">
                <div class="opt state-active">post</div>
                <div class="opt">sandbox</div>
            </div>
        </span></div>
    </div>
    <div class="item-wrap label-group">
        <label>Title</label>
        <input type="text" name="post-title" class="text-input text-base">
    </div>
    <div class="item-wrap label-group group-stretch">
        <label>Post Body</label>
        <textarea name="post-body" class="markdown text-base stretch-item"></textarea>
    </div>
    <div class="item-wrap">
        <button type="submit" class="button accent">Post</button>
    </div>
</form>
{%- endblock %}

{% block sidebar -%}
<div class="sidebar help">
    <h4>Writing Tips</h4>
    <ul class="body">
        <li>An <strong>objective</strong> way to identify a winner.</li>
        <li>Provide <strong>examples</string> for clarity.</li>
        <li>Describe <strong>corner cases</strong>.</li>
    </ul>
</div>
{%- endblock %}
