#header {
  z-index: 1;

  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .section {
      @include expand;

      &:last-child {
        margin-right: 0;
      }
      margin-right: 1em;

      &.r-tight {
        margin-right: 0rem;
      }
    }

    $h-target-time: 0.1s;

    .expand {
      margin: 0;
      flex: 1;
    }

    .h-target {
      cursor: pointer;
      transition: $h-target-time ease-in background;
      &:hover, &.state-active {
        background: $big-bg;
      }
    }

    @import "header/nav.scss";
    @import "header/useroverview.scss";
    @import "header/authmanager.scss";

    .r-reveal {
      display: none;
    }

    #r-close {
      display: none;
    }

    @media screen and (max-width: 530px) {
      .r-collapse {
        display: none;
      }

      .r-reveal {
        display: block
      }

      // Special behavior for the user dropdown
      // in this case we'll only show avatar
      .useroverview-root {
        // Make smaller horizontally
        .useroverview {
          padding: 0 4px;
        }

        // There was a margin before the img + text we'll remove that.
        img {
          margin: 0;
          height: 1.2rem;
        }

        // Readjust the box
        #useroverview-info {
          position: fixed;
          left: 8px;
          right: 8px;
          top: 3rem;

          // Show the new close button
          #useropts-close {
            display: block;
          }

          // Hide the arrow
          &:before { content: none; }
        }
      }

      .section {
        margin-right: 0;
      }

      #r-pop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > div {
          padding: 1em
        }
        svg {
          stroke: $dim-text;
        }
      }

      // For responsive active state (popup opened)
      &.active {
        // Modal
        #r-cover {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
        }

        #r-close {
          height: 2rem;
          width: 2rem;
          right: 8px;
          top: 8px;

          display: block;
          position: fixed;
          z-index: 2;

          fill: white;
        }

        // Reorganize nav links to appear on-top
        #nav-links {
          display: flex;
          z-index: 1;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          ul {
            flex-direction: column;
            justify-content: center;

            li {
              transition: none;

              &:hover {
                background: transparent;
              }

              &.selected a {
                border-bottom: none;
                background: rgba($theme-color, .3)
              }

              a {
                $popover-nav-fg: #FFF;

                padding: 8px 1em;;
                font-size: 1.5rem;

                fill: $popover-nav-fg;
                color: $popover-nav-fg;
              }
            }
          }
        }
      }
    }

    .button-section {
      $button-padding: 1em;
      @include fit;
      @include center-v-block;

      box-sizing: border-box;
      padding: 0 $button-padding;
    }

    h1 {
      color: $logo-color;
      font-size: 1.5em;
      padding: 0.6em;
      white-space: nowrap
    }
  }
}
