nav {
    @include fit;
    @include full;
    
    $nav-border-width: 3px;
    
    ul {
        @include fit;
        @include full;
        
        list-style: none;
        display: flex;
        
        li {
            display: flex;
            
            &.selected a {
                color: $big-select;
                padding-bottom: 0;
                border-bottom: $nav-border-width solid $big-select;
            }
            
            a {
                @include center-v-block;
                flex: 1;
                
                padding: $nav-border-width 1.5em;
                text-decoration: none;
                color: $big-fg;
                
                font-size: 1rem;
            }
        }
    }
}
