.useroverview-root {
  position: relative;
  margin-right: 0;
}

.useroverview {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 1em;

  position: relative;

  color: $em-text;

  img {
    height: 1.8rem;
    border-radius: 50%;
    margin-right: 8px;
  }

  .action {
    margin-left: 8px;
    font-size: 8px;
    color: #DDD;
  }
}

#useroverview-info {
  $useroverview-color: $popover-bg;
  $arrow-size: 12px;

  outline: none;
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 8px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .1);
  padding: 0.5em 0;
  right: 2em;
  background: $useroverview-color;
  margin-top: $arrow-size;

  top: 100%;

  #useropts-close {
    display: none;

    width: 100%;
    text-align: center;
    color: $theme-color;
    padding: 4px 0;
    font-size: 16px;

    svg {
      height: .9em;
      fill: $theme-color;
      margin-right: 4px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -$arrow-size;
    right: 12px;
    border-style: solid;
    border-width: 0 $arrow-size $arrow-size $arrow-size;
    border-color: $useroverview-color transparent;
  }
}
