.list-header {
  // border-bottom: 1px solid $content-border-color;
  padding: 0 1rem 0.5em;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  min-height: 2.5rem;

  flex: 0 0 auto;

  > h1, > h2 {
    flex: 1;
    font-family: $bold-font;
    font-weight: $bold-weight;
  }
  > * {
    display: block;
  }
}
