.list-header {
  // border-bottom: 1px solid $content-border-color;
  padding: 0 1rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: end;

  min-height: 2.5rem;

  flex: 0 0 auto;

  h1, h2 {
    flex: 1;
    font-family: $bold-font;
    font-weight: $bold-weight;

    > img {
      height: 1em;
      width: 1em;

      margin-right: 8px;

      vertical-align: middle;

      margin: -8px 4px 0 0;
    }

    &.tight {
      flex: 0;
    }

    span.dim {
      color: rgba($hover-mix, 0.3);
    }
  }

  > * {
    display: block;
  }

  // A list (i.e. flex)
  .sub-lst {
    display: flex;
  }
}
