footer {
  padding: 3rem;
  background: $footer-background;

  $footer-fg: rgba(#FFF, 0.8);

  a {
    color: $footer-fg;
    fill: $footer-fg;

    font-size: 1rem;

    transition: all 0.1s ease-in;

    svg {
      height: 1.6rem;
    }

    &:hover {
      color: #FFF;
      fill: #FFF;
    }
  }

  li.title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0.7rem;

    color: $footer-fg;
  }

  li {
    padding-bottom: 5px;
  }

  .item {
    margin: 1rem;
  }

  .stretch {
    flex: 1;
    @media screen and (max-width: $collapse-width) { flex: 0 0 0; }
  }

  .own {
    align-self: center;
    @media screen and (max-width: $collapse-width) {
      width: 100%;
      text-align: center;
    }
  }

  #footer-primary {
    // In the cast it is a <ul>
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    .wide {
      text-align: center;
      flex: 1;
    }

    li {
      list-style: none;
    }
  }

  #copy {
    text-align: center;
    color: rgba(#FFF, 0.7);
    font-weight: 300;
  }
}
